In [71]:
import pandas as pd

In [139]:
NAME = '1b'
df = pd.read_csv('Markov/1B.tsv', sep='\t')
df

,Recording,Participant,TOI,Interval,Event_type,Validity,EventIndex,Start,Stop,Duration,AOI,Hit_proportion
0,Recording46,Participant46,zadanie_1_po_poprawce,1,Fixation,Whole,1,1430,1497,67,NaN,0
1,Recording46,Participant46,zadanie_1_po_poprawce,1,Fixation,Partial,2,1663,1763,100,NaN,0
2,Recording46,Participant46,zadanie_1_po_poprawce,1,Fixation,Whole,3,3172,3313,142,NaN,0
3,Recording46,Participant46,zadanie_1_po_poprawce,1,Fixation,Whole,4,3363,3538,175,NaN,0
4,Recording46,Participant46,zadanie_1_po_poprawce,1,Fixation,Whole,5,3613,3696,83,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
6856,Recording2,Participant2,zadanie_1_po_poprawce,1,Fixation,Whole,302,87171,87255,83,1b_tab,1
6857,Recording2,Participant2,zadanie_1_po_poprawce,1,Fixation,Whole,303,87288,87371,83,1b_tab,1
6858,Recording2,Participant2,zadanie_1_po_poprawce,1,Fixation,Whole,304,87380,87663,283,1b_tab,1
6859,Recording2,Participant2,zadanie_1_po_poprawce,1,Fixation,Partial,305,87721,87846,125,1b_plt,1
6860,Recording2,Participant2,zadanie_1_po_poprawce,1,Fixation,Whole,306,88080,88230,150,NaN,0

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6861 entries, 0 to 6860
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Recording       6861 non-null   object
 1   Participant     6861 non-null   object
 2   TOI             6861 non-null   object
 3   Interval        6861 non-null   int64
 4   Event_type      6861 non-null   object
 5   Validity        6861 non-null   object
 6   EventIndex      6861 non-null   int64
 7   Start           6861 non-null   int64
 8   Stop            6861 non-null   int64
 9   Duration        6861 non-null   int64
 10  AOI             6527 non-null   object
 11  Hit_proportion  6861 non-null   int64
dtypes: int64(6), object(6)
memory usage: 643.3+ KB

In [141]:
df['ID'] = df['Participant'].apply(lambda x: int(''.join(filter(str.isdigit, x))))
df.loc[df['ID'] == 28, 'ID'] = 29 # only 2B
df

,Recording,Participant,TOI,Interval,Event_type,Validity,EventIndex,Start,Stop,Duration,AOI,Hit_proportion,ID
0,Recording46,Participant46,zadanie_1_po_poprawce,1,Fixation,Whole,1,1430,1497,67,NaN,0,46
1,Recording46,Participant46,zadanie_1_po_poprawce,1,Fixation,Partial,2,1663,1763,100,NaN,0,46
2,Recording46,Participant46,zadanie_1_po_poprawce,1,Fixation,Whole,3,3172,3313,142,NaN,0,46
3,Recording46,Participant46,zadanie_1_po_poprawce,1,Fixation,Whole,4,3363,3538,175,NaN,0,46
4,Recording46,Participant46,zadanie_1_po_poprawce,1,Fixation,Whole,5,3613,3696,83,NaN,0,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6856,Recording2,Participant2,zadanie_1_po_poprawce,1,Fixation,Whole,302,87171,87255,83,1b_tab,1,2
6857,Recording2,Participant2,zadanie_1_po_poprawce,1,Fixation,Whole,303,87288,87371,83,1b_tab,1,2
6858,Recording2,Participant2,zadanie_1_po_poprawce,1,Fixation,Whole,304,87380,87663,283,1b_tab,1,2
6859,Recording2,Participant2,zadanie_1_po_poprawce,1,Fixation,Partial,305,87721,87846,125,1b_plt,1,2
6860,Recording2,Participant2,zadanie_1_po_poprawce,1,Fixation,Whole,306,88080,88230,150,NaN,0,2

In [142]:
df = df.drop(columns=['Recording', 'Participant', 'TOI', 'Interval', 'Event_type', 'Start', 'Stop', 'Hit_proportion', 'Validity'])
df

      EventIndex  Duration     AOI  ID
0              1        67     NaN  46
1              2       100     NaN  46
2              3       142     NaN  46
3              4       175     NaN  46
4              5        83     NaN  46
...          ...       ...     ...  ..
6856         302        83  1b_tab   2
6857         303        83  1b_tab   2
6858         304       283  1b_tab   2
6859         305       125  1b_plt   2
6860         306       150     NaN   2

[6861 rows x 4 columns]

In [143]:
df.set_index('EventIndex', inplace=True)

In [144]:
def change(x):
    if x == f'{NAME}_map':
        return 'map'
    elif x == f'{NAME}_plt':
        return 'plot'
    elif x == f'{NAME}_txt':
        return 'text'
    elif x == f'{NAME}_tab':
        return 'table'
    elif x == f'{NAME}_com':
        return 'desc'
    else:
        return 'out'

In [145]:
df['AOI'] = df['AOI'].apply(change)

In [146]:
dfs = [df[df['ID'] == num] for num in pd.unique(df['ID'])]
dfs[28]

            Duration    AOI  ID
EventIndex
1                 36  table  25
2                 75  table  25
3                117   plot  25
4                 83  table  25
5                442  table  25
...              ...    ...  ..
170              350  table  25
171              208  table  25
172              350  table  25
173              558  table  25
174              499  table  25

[174 rows x 3 columns]

In [147]:
def aggregate_neighbors(df):
    result = {'Duration': [], 'AOI': []}
    
    current_aoi = df['AOI'].iloc[0]
    current_duration = df['Duration'].iloc[0]
    
    for i in range(1, len(df)):
        if df['AOI'].iloc[i] == current_aoi:
            current_duration += df['Duration'].iloc[i]
        else:
            result['AOI'].append(current_aoi)
            result['Duration'].append(current_duration)
            current_aoi = df['AOI'].iloc[i]
            current_duration = df['Duration'].iloc[i]
    
    result['AOI'].append(current_aoi)
    result['Duration'].append(current_duration)
    
    return pd.DataFrame(result)

In [148]:
final_result = pd.DataFrame()
for i, df in enumerate(dfs):
    result_df = aggregate_neighbors(dfs[i])
    new_row = pd.DataFrame({'ID': dfs[i]['ID'][1], 'AOI': [result_df['AOI'].tolist()], 'Duration': [result_df['Duration'].tolist()]})

    final_result = final_result.append(new_row, ignore_index=True)

/var/folders/vw/8y99f8gn61ddx6t8ck0zm6ch0000gn/T/ipykernel_3493/733418294.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_result = final_result.append(new_row, ignore_index=True)

In [149]:
final_result.set_index('ID', inplace=True)
final_result

,AOI,Duration
ID,,
46,"[out, map, table, map, out, map, table, map, t...","[1026, 600, 117, 1409, 117, 1000, 142, 100, 10..."
37,"[table, desc, out, desc, plot, desc, out, desc...","[67, 1677, 167, 1968, 708, 317, 200, 125, 2115..."
23,"[desc, out, desc, table, desc, plot, map, tabl...","[350, 225, 276, 108, 701, 3652, 351, 1308, 400..."
40,"[plot, desc, out, desc, plot, desc, plot, tabl...","[122, 259, 125, 541, 92, 233, 2318, 183, 550, ..."
19,"[table, desc, plot, desc, plot, table, plot, d...","[235, 2817, 583, 659, 10133, 1109, 884, 1100, ..."
31,"[table, desc, map, out, map]","[117, 3218, 9457, 92, 167]"
38,"[table, desc, table, desc, table, desc, table,...","[133, 275, 425, 142, 125, 5025, 1300, 183, 223..."
35,"[table, map, table, out, table, out, text]","[1584, 167, 7756, 183, 1049, 292, 458]"
42,"[table, out, desc, out, desc, out, desc, table...","[63, 117, 1366, 1384, 766, 658, 1192, 291, 257..."
14,"[table, desc, map, out, desc, out, desc, plot,...","[173, 117, 367, 92, 67, 92, 450, 175, 158, 851..."
3,"[table, out, desc, out, table, map, table, map...","[305, 4882, 234, 283, 175, 200, 384, 6758, 217..."
33,"[plot, desc, table, desc, table, out, table, p...","[99, 3443, 125, 2936, 275, 142, 175, 5341, 684..."
39,"[table, desc, table, desc, table, map, table, ...","[272, 2383, 2757, 883, 891, 37302, 2659, 767, ..."
16,"[out, table, desc, plot, text, desc, table, de...","[188, 125, 659, 267, 183, 1717, 83, 2967, 1068..."
43,"[map, table, map, out, map, out, map, text, ou...","[39, 2374, 1132, 92, 1309, 83, 4738, 150, 167,..."
15,"[table, desc, plot, text, table, map, out, map...","[559, 3559, 183, 208, 2200, 225, 200, 108, 296..."
5,"[table, plot, desc, out, desc, map, table, plo...","[142, 150, 108, 908, 2758, 333, 850, 11702, 27..."
27,"[map, table, desc, table, desc, table, text, m...","[75, 775, 200, 334, 75, 441, 366, 350, 525, 15..."
12,"[table, desc, out, plot, out, map, desc, map, ...","[212, 117, 4899, 359, 2450, 517, 608, 1276, 16..."
4,"[table, desc, out, desc, plot, desc, out, desc...","[293, 500, 158, 1935, 67, 500, 75, 1249, 375, ..."
41,"[table, desc, table, desc, table, map, plot, t...","[183, 1209, 516, 3083, 959, 1276, 11191, 100, ..."
7,"[table, desc, table, desc, table, desc, table,...","[132, 1282, 1924, 92, 901, 550, 2233, 150, 326..."
29,"[out, map, out, text, plot, table, desc, table...","[38, 183, 125, 208, 175, 175, 2668, 333, 1408,..."
30,"[table, desc, text, desc, out, desc, plot, des...","[133, 208, 67, 325, 208, 1241, 133, 693, 524, ..."
24,"[map, desc, out, desc, map, table, desc, map, ...","[67, 275, 133, 1025, 434, 83, 267, 2391, 7668,..."
32,"[table, desc, table, desc, table, map, table, ...","[217, 2891, 292, 967, 900, 784, 1716, 308, 181..."
20,"[table, desc, out, desc, out, desc, text, desc...","[225, 450, 309, 1058, 183, 892, 367, 2235, 459..."
1,"[table, out, desc, out, desc, map, plot, out, ...","[177, 133, 342, 175, 417, 100, 5591, 400, 2916..."
25,"[table, plot, table, desc, out, desc, out, des...","[111, 117, 525, 150, 233, 175, 83, 416, 3025, ..."
21,"[table, out, table, desc, out, desc, out, desc...","[93, 599, 100, 125, 75, 83, 92, 1732, 100, 275..."
17,"[table, out, desc, table, out, table, map, tab...","[208, 1974, 167, 317, 934, 292, 67, 108, 1840,..."
11,"[table, map, out, desc, out, desc, plot, table...","[255, 133, 925, 167, 658, 2050, 625, 175, 8973..."
45,"[table, desc, table, plot, desc, map, desc, ma...","[280, 1492, 158, 200, 466, 325, 875, 750, 525,..."
34,"[map, table, desc, table, text, map, out, map,...","[200, 300, 133, 983, 192, 358, 209, 358, 342, ..."
13,"[table, out, desc, out, desc, map, desc, plot,...","[214, 500, 650, 450, 2200, 366, 1548, 1908, 92..."
44,"[table, out, desc, out, desc, out, desc, table...","[133, 1233, 892, 250, 642, 175, 133, 242, 259,..."
18,"[plot, map, text, plot]","[4569, 708, 434, 314]"
22,"[table, plot, map, desc, out, desc, table, map...","[158, 108, 192, 2508, 233, 2450, 1199, 325, 20..."
26,"[desc, out, desc, out, desc, table, desc, plot...","[100, 401, 1083, 275, 317, 359, 1159, 317, 208..."
2,"[table, desc, table, desc, table, map, text, o...","[75, 7318, 2026, 668, 609, 907, 975, 308, 3121..."

In [150]:
final_result.to_csv(f'data-new/markov/{NAME}.csv', index=True)