In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('data-old/times.tsv', sep='\t')
df

,Recording,Participant,TOI,Interval,Duration_of_interval,Start_of_interval,Last_AOI_viewed
0,Recording46,Participant46,mapa1_po_poprawce,1,34682,558883,1a_com
1,Recording46,Participant46,mapa2_po_poprawce,1,38765,509286,2a_map
2,Recording46,Participant46,mapa3_po_poprawce,1,67997,435006,3a_com
3,Recording46,Participant46,zadanie_1_po_poprawce,1,96628,598498,1b_com
4,Recording46,Participant46,zadanie_2_po_poprawce,1,113378,311712,2b_txt
...,...,...,...,...,...,...,...
237,Recording2,Participant2,mapa2_po_poprawce,1,42248,147898,2a_map
238,Recording2,Participant2,mapa3_po_poprawce,1,47948,496699,3a_map
239,Recording2,Participant2,zadanie_1_po_poprawce,1,88463,197046,1b_plt
240,Recording2,Participant2,zadanie_2_po_poprawce,1,85329,549763,2b_txt
241,Recording2,Participant2,zadanie_3_po_poprawce,1,129427,293375,3b_txt

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Recording             242 non-null    object
 1   Participant           242 non-null    object
 2   TOI                   242 non-null    object
 3   Interval              242 non-null    int64
 4   Duration_of_interval  242 non-null    int64
 5   Start_of_interval     242 non-null    int64
 6   Last_AOI_viewed       242 non-null    object
dtypes: int64(3), object(4)
memory usage: 13.4+ KB

In [11]:
df['ID'] = df['Participant'].apply(lambda x: int(''.join(filter(str.isdigit, x))))
df.loc[df['ID'] == 28, 'ID'] = 29 # only 2B
df

,Recording,Participant,TOI,Interval,Duration_of_interval,Start_of_interval,Last_AOI_viewed,ID
0,Recording46,Participant46,mapa1_po_poprawce,1,34682,558883,1a_com,46
1,Recording46,Participant46,mapa2_po_poprawce,1,38765,509286,2a_map,46
2,Recording46,Participant46,mapa3_po_poprawce,1,67997,435006,3a_com,46
3,Recording46,Participant46,zadanie_1_po_poprawce,1,96628,598498,1b_com,46
4,Recording46,Participant46,zadanie_2_po_poprawce,1,113378,311712,2b_txt,46
...,...,...,...,...,...,...,...,...
237,Recording2,Participant2,mapa2_po_poprawce,1,42248,147898,2a_map,2
238,Recording2,Participant2,mapa3_po_poprawce,1,47948,496699,3a_map,2
239,Recording2,Participant2,zadanie_1_po_poprawce,1,88463,197046,1b_plt,2
240,Recording2,Participant2,zadanie_2_po_poprawce,1,85329,549763,2b_txt,2
241,Recording2,Participant2,zadanie_3_po_poprawce,1,129427,293375,3b_txt,2

In [12]:
df = df.drop(columns=['Recording', 'Participant', 'Interval'])
df

,TOI,Duration_of_interval,Start_of_interval,Last_AOI_viewed,ID
0,mapa1_po_poprawce,34682,558883,1a_com,46
1,mapa2_po_poprawce,38765,509286,2a_map,46
2,mapa3_po_poprawce,67997,435006,3a_com,46
3,zadanie_1_po_poprawce,96628,598498,1b_com,46
4,zadanie_2_po_poprawce,113378,311712,2b_txt,46
...,...,...,...,...,...
237,mapa2_po_poprawce,42248,147898,2a_map,2
238,mapa3_po_poprawce,47948,496699,3a_map,2
239,zadanie_1_po_poprawce,88463,197046,1b_plt,2
240,zadanie_2_po_poprawce,85329,549763,2b_txt,2
241,zadanie_3_po_poprawce,129427,293375,3b_txt,2

In [13]:
def change_name(x):
    if x == 'mapa1_po_poprawce':
        return '1a'
    elif x == 'mapa2_po_poprawce':
        return '2a'
    elif x == 'mapa3_po_poprawce':
        return '3a'
    elif x == 'zadanie_1_po_poprawce':
        return '1b'
    elif x == 'zadanie_2_po_poprawce':
        return '2b'
    elif x == 'zadanie_3_po_poprawce':
        return '3b'
    else:
        return x

df['TOI'] = df['TOI'].apply(change_name)

In [14]:
df

    TOI  Duration_of_interval  Start_of_interval Last_AOI_viewed  ID
0    1a                 34682             558883          1a_com  46
1    2a                 38765             509286          2a_map  46
2    3a                 67997             435006          3a_com  46
3    1b                 96628             598498          1b_com  46
4    2b                113378             311712          2b_txt  46
..   ..                   ...                ...             ...  ..
237  2a                 42248             147898          2a_map   2
238  3a                 47948             496699          3a_map   2
239  1b                 88463             197046          1b_plt   2
240  2b                 85329             549763          2b_txt   2
241  3b                129427             293375          3b_txt   2

[242 rows x 5 columns]

In [15]:
df.rename(columns={'Duration_of_interval':'Duration', 'Start_of_interval':'Start', 'Last_AOI_viewed': 'Last_AOI'}, inplace=True)
df

    TOI  Duration   Start Last_AOI  ID
0    1a     34682  558883   1a_com  46
1    2a     38765  509286   2a_map  46
2    3a     67997  435006   3a_com  46
3    1b     96628  598498   1b_com  46
4    2b    113378  311712   2b_txt  46
..   ..       ...     ...      ...  ..
237  2a     42248  147898   2a_map   2
238  3a     47948  496699   3a_map   2
239  1b     88463  197046   1b_plt   2
240  2b     85329  549763   2b_txt   2
241  3b    129427  293375   3b_txt   2

[242 rows x 5 columns]

In [16]:
df_1a = df[df['TOI'] == '1a']
df_1b = df[df['TOI'] == '1b']
df_2a = df[df['TOI'] == '2a']
df_2b = df[df['TOI'] == '2b']
df_3a = df[df['TOI'] == '3a']
df_3b = df[df['TOI'] == '3b']

df_1a

    TOI  Duration   Start Last_AOI  ID
0    1a     34682  558883   1a_com  46
6    1a     53564  321413   1a_map  37
12   1a     85546  358644   1a_map  23
18   1a     61197  255889   1a_map  40
24   1a     42031  458803   1a_map  19
30   1a     41881  219776   1a_map  31
36   1a     57031  203783   1a_com  38
42   1a    117478  274767   1a_com  35
48   1a     61864  292588   1a_com  42
54   1a     39781  217674   1a_map  14
60   1a     68830  185639   1a_map   3
66   1a     54114  510866   1a_map  33
72   1a     39965  138021   1a_map  39
78   1a     30998  396254   1a_map  16
84   1a     28332  425445   1a_map  43
90   1a     67013  588156   1a_map  15
96   1a     67980  222986   1a_com   5
102  1a     72746  263687   1a_map  27
108  1a     57097  283960   1a_map  12
114  1a     46048  343017   1a_map   4
120  1a     47231  315468   1a_map  41
126  1a     53631  371526   1a_map   7
132  1a     68663  139960   1a_map  29
138  1a     47414  245309   1a_map  30
144  1a     43515  324518   1a_com  24
150  1a     30532  366351   1a_map  32
156  1a     39281  675173   1a_map  20
162  1a     28015  135335   1a_map   1
168  1a     72580  329883   1a_map  25
174  1a     53347  357766   1a_map  21
180  1a     35232  186955   1a_map  17
186  1a     54181  361327   1a_map  11
192  1a     39515  356283   1a_map  45
198  1a     52064  532714   1a_map  34
206  1a     28299  323210   1a_map  13
212  1a     54514  308501   1a_map  44
218  1a     32598  462451   1a_map  18
224  1a     73363  305516   1a_map  22
230  1a     47764  358574   1a_com  26
236  1a     66230  426285   1a_map   2

In [17]:
df_1a.set_index('ID', inplace=True)
df_1b.set_index('ID', inplace=True)
df_2a.set_index('ID', inplace=True)
df_2b.set_index('ID', inplace=True)
df_3a.set_index('ID', inplace=True)
df_3b.set_index('ID', inplace=True)

In [18]:
df_1a = df_1a.add_suffix('_1a')
df_1b = df_1b.add_suffix('_1b')
df_2a = df_2a.add_suffix('_2a')
df_2b = df_2b.add_suffix('_2b')
df_3a = df_3a.add_suffix('_3a')
df_3b = df_3b.add_suffix('_3b')

df_3a

   TOI_3a  Duration_3a  Start_3a Last_AOI_3a
ID
46     3a        67997    435006      3a_com
37     3a        49081    264333      3a_com
23     3a        21316    190736      3a_map
40     3a        19899    144761      3a_map
19     3a        44914    174467      3a_map
31     3a        37581    148880      3a_map
38     3a        49014    413206      3a_map
35     3a        20632    236902      3a_map
42     3a        42131    179677      3a_map
14     3a        53164    505293      3a_map
3      3a         8000    514040      3a_map
33     3a       100562    175416      3a_map
39     3a        31298    256632      3a_map
16     3a        34065    358340      3a_map
43     3a        27199    558205      3a_map
15     3a        60964    402099      3a_map
5      3a        34898    364063      3a_map
27     3a        73646    486159      3a_map
12     3a        44431    435536      3a_map
4      3a        60980    133060      3a_map
41     3a        32632    270637      3a_com
7      3a        66397    518236      3a_map
29     3a        80079    279036      3a_map
30     3a        32348    296507      3a_com
24     3a        33732    213924      3a_map
32     3a        22282    457696      3a_map
20     3a        81313    380054      3a_map
1      3a        56314    169567      3a_map
25     3a        22699    171924      3a_map
21     3a        46398    285020      3a_map
17     3a        21549    321015      3a_map
11     3a        32148    105273      3a_map
45     3a        49298    217190      3a_map
34     3a        61897    388038      3a_map
13     3a        10866    355242      3a_map
44     3a        19382    173408      3a_map
18     3a        19432    355106      3a_map
22     3a        13016    286333      3a_map
26     3a        85529    591096      3a_map
2      3a        47948    496699      3a_map

In [19]:
df_duration = pd.merge(df_1a, df_1b, on='ID')
df_duration = pd.merge(df_duration, df_2a, on='ID')
df_duration = pd.merge(df_duration, df_2b, on='ID')
df_duration = pd.merge(df_duration, df_3a, on='ID')
df_duration = pd.merge(df_duration, df_3b, on='ID')

df_duration

,TOI_1a,Duration_1a,Start_1a,Last_AOI_1a,TOI_1b,Duration_1b,Start_1b,Last_AOI_1b,TOI_2a,Duration_2a,...,Start_2b,Last_AOI_2b,TOI_3a,Duration_3a,Start_3a,Last_AOI_3a,TOI_3b,Duration_3b,Start_3b,Last_AOI_3b
ID,,,,,,,,,,,,,,,,,,,,,
46,1a,34682,558883,1a_com,1b,96628,598498,1b_com,2a,38765,...,311712,2b_txt,3a,67997,435006,3a_com,3b,119944,183436,3b_com
37,1a,53564,321413,1a_map,1b,33598,227485,1b_com,2a,35032,...,151255,2b_txt,3a,49081,264333,3a_com,3b,95579,50310,3b_plt
23,1a,85546,358644,1a_map,1b,33632,305863,1b_tab,2a,12266,...,253799,2b_txt,3a,21316,190736,3a_map,3b,31082,217434,3b_com
40,1a,61197,255889,1a_map,1b,30882,222674,1b_tab,2a,10999,...,170660,2b_map,3a,19899,144761,3a_map,3b,35332,335419,3b_plt
19,1a,42031,458803,1a_map,1b,30282,424555,1b_tab,2a,12816,...,226898,2b_map,3a,44914,174467,3a_map,3b,124960,277595,3b_plt
31,1a,41881,219776,1a_map,1b,20499,337870,1b_map,2a,32832,...,194644,2b_map,3a,37581,148880,3a_map,3b,33065,301489,3b_map
38,1a,57031,203783,1a_com,1b,44748,146703,1b_plt,2a,8416,...,367092,2b_txt,3a,49014,413206,3a_map,3b,97295,265930,3b_plt
35,1a,117478,274767,1a_com,1b,17849,395044,1b_txt,2a,11699,...,260151,2b_plt,3a,20632,236902,3a_map,3b,43448,186888,3b_map
42,1a,61864,292588,1a_com,1b,58347,229358,1b_com,2a,22732,...,358435,2b_map,3a,42131,179677,3a_map,3b,55214,421815,3b_tab
14,1a,39781,217674,1a_map,1b,27665,472262,1b_tab,2a,26099,...,375183,2b_com,3a,53164,505293,3a_map,3b,75446,294720,3b_plt
3,1a,68830,185639,1a_map,1b,83963,386946,1b_tab,2a,45165,...,477625,2b_txt,3a,8000,514040,3a_map,3b,61197,322133,3b_com
33,1a,54114,510866,1a_map,1b,34348,452369,1b_plt,2a,18366,...,296610,2b_txt,3a,100562,175416,3a_map,3b,65847,382739,3b_plt
39,1a,39965,138021,1a_map,1b,64080,186868,1b_tab,2a,28165,...,356343,2b_plt,3a,31298,256632,3a_map,3b,59280,292563,3b_map
16,1a,30998,396254,1a_map,1b,27982,256878,1b_tab,2a,11866,...,288276,2b_txt,3a,34065,358340,3a_map,3b,93112,157583,3b_plt
43,1a,28332,425445,1a_map,1b,64430,358482,1b_map,2a,16183,...,456610,2b_tab,3a,27199,558205,3a_map,3b,113828,225672,3b_plt
15,1a,67013,588156,1a_map,1b,79163,318286,1b_tab,2a,29132,...,224474,2b_txt,3a,60964,402099,3a_map,3b,118544,467079,3b_plt
5,1a,67980,222986,1a_com,1b,27582,404511,1b_plt,2a,55931,...,131774,2b_map,3a,34898,364063,3a_map,3b,62930,295966,3b_plt
27,1a,72746,263687,1a_map,1b,58030,197473,1b_txt,2a,42548,...,564105,2b_map,3a,73646,486159,3a_map,3b,138510,342416,3b_plt
12,1a,57097,283960,1a_map,1b,39481,489433,1b_tab,2a,87496,...,531981,2b_txt,3a,44431,435536,3a_map,3b,84896,346390,3b_map
4,1a,46048,343017,1a_map,1b,78446,199790,1b_tab,2a,12449,...,283103,2b_tab,3a,60980,133060,3a_map,3b,101795,394264,3b_plt
41,1a,47231,315468,1a_map,1b,38181,216090,1b_tab,2a,14983,...,371115,2b_map,3a,32632,270637,3a_com,3b,71430,409980,3b_tab
7,1a,53631,371526,1a_map,1b,112511,255515,1b_tab,2a,26299,...,429173,2b_map,3a,66397,518236,3a_map,3b,129694,121188,3b_tab
29,1a,68663,139960,1a_map,1b,88712,46831,1b_tab,2a,58697,...,213340,2b_txt,3a,80079,279036,3a_map,3b,2550,426112,3b_plt
29,1a,68663,139960,1a_map,1b,88712,46831,1b_tab,2a,58697,...,213340,2b_txt,3a,80079,279036,3a_map,3b,139343,180969,3b_plt
29,1a,68663,139960,1a_map,1b,88712,46831,1b_tab,2a,58697,...,326528,2b_tab,3a,80079,279036,3a_map,3b,2550,426112,3b_plt
29,1a,68663,139960,1a_map,1b,88712,46831,1b_tab,2a,58697,...,326528,2b_tab,3a,80079,279036,3a_map,3b,139343,180969,3b_plt
30,1a,47414,245309,1a_map,1b,51764,133548,1b_com,2a,14766,...,191179,2b_plt,3a,32348,296507,3a_com,3b,18282,332588,3b_com
24,1a,43515,324518,1a_com,1b,30548,371533,1b_plt,2a,15999,...,186825,2b_map,3a,33732,213924,3a_map,3b,65680,252405,3b_map
32,1a,30532,366351,1a_map,1b,71730,139246,1b_txt,2a,45681,...,484528,2b_map,3a,22282,457696,3a_map,3b,144209,217908,3b_plt
20,1a,39281,675173,1a_map,1b,92529,214646,1b_tab,2a,95628,...,316158,2b_txt,3a,81313,380054,3a_map,3b,102628,465767,3b_plt
1,1a,28015,135335,1a_map,1b,15516,419705,1b_tab,2a,54481,...,288362,2b_map,3a,56314,169567,3a_map,3b,63897,351525,3b_plt
25,1a,72580,329883,1a_map,1b,53781,405979,1b_tab,2a,22149,...,226038,2b_map,3a,22699,171924,3a_map,3b,56964,467826,3b_map
21,1a,53347,357766,1a_map,1b,44814,413063,1b_tab,2a,20516,...,165842,2b_txt,3a,46398,285020,3a_map,3b,71696,209907,3b_com
17,1a,35232,186955,1a_map,1b,27482,227253,1b_tab,2a,19932,...,259752,2b_map,3a,21549,321015,3a_map,3b,30682,284617,3b_tab
11,1a,54181,361327,1a_map,1b,29565,213201,1b_map,2a,54214,...,307146,2b_txt,3a,32148,105273,3a_map,3b,60497,144287,3b_map
45,1a,39515,356283,1a_map,1b,47031,270254,1b_tab,2a,39781,...,321035,2b_tab,3a,49298,217190,3a_map,3b,35898,399414,3b_tab
34,1a,52064,532714,1a_map,1b,50581,591761,1b_tab,2a,98295,...,456885,2b_tab,3a,61897,388038,3a_map,3b,90812,292793,3b_plt
13,1a,28299,323210,1a_map,1b,73046,193667,1b_tab,2a,9716,...,177351,2b_com,3a,10866,355242,3a_map,3b,49114,270863,3b_plt
44,1a,54514,308501,1a_map,1b,32732,430211,1b_tab,2a,56930,...,465826,2b_com,3a,19382,173408,3a_map,3b,93112,202439,3b_plt
18,1a,32598,462451,1a_map,1b,23282,377105,1b_plt,2a,56781,...,188848,2b_plt,3a,19432,355106,3a_map,3b,33732,317708,3b_map
22,1a,73363,305516,1a_map,1b,50181,471008,1b_tab,2a,22399,...,386712,2b_map,3a,13016,286333,3a_map,3b,75830,197421,3b_tab
26,1a,47764,358574,1a_com,1b,40498,183366,1b_tab,2a,40548,...,232031,2b_txt,3a,85529,591096,3a_map,3b,130660,411255,3b_tab
2,1a,66230,426285,1a_map,1b,88463,197046,1b_plt,2a,42248,...,549763,2b_txt,3a,47948,496699,3a_map,3b,129427,293375,3b_txt

In [20]:
df_duration = df_duration.drop(columns=['TOI_1a', 'TOI_1b', 'TOI_2a', 'TOI_2b', 'TOI_3a', 'TOI_3b'])
df_duration

,Duration_1a,Start_1a,Last_AOI_1a,Duration_1b,Start_1b,Last_AOI_1b,Duration_2a,Start_2a,Last_AOI_2a,Duration_2b,Start_2b,Last_AOI_2b,Duration_3a,Start_3a,Last_AOI_3a,Duration_3b,Start_3b,Last_AOI_3b
ID,,,,,,,,,,,,,,,,,,
46,34682,558883,1a_com,96628,598498,1b_com,38765,509286,2a_map,113378,311712,2b_txt,67997,435006,3a_com,119944,183436,3b_com
37,53564,321413,1a_map,33598,227485,1b_com,35032,377511,2a_map,72130,151255,2b_txt,49081,264333,3a_com,95579,50310,3b_plt
23,85546,358644,1a_map,33632,305863,1b_tab,12266,343795,2a_map,48148,253799,2b_txt,21316,190736,3a_map,31082,217434,3b_com
40,61197,255889,1a_map,30882,222674,1b_tab,10999,320903,2a_map,48398,170660,2b_map,19899,144761,3a_map,35332,335419,3b_plt
19,42031,458803,1a_map,30282,424555,1b_tab,12816,408339,2a_map,42581,226898,2b_map,44914,174467,3a_map,124960,277595,3b_plt
31,41881,219776,1a_map,20499,337870,1b_map,32832,266424,2a_map,21232,194644,2b_map,37581,148880,3a_map,33065,301489,3b_map
38,57031,203783,1a_com,44748,146703,1b_plt,8416,402273,2a_map,30799,367092,2b_txt,49014,413206,3a_map,97295,265930,3b_plt
35,117478,274767,1a_com,17849,395044,1b_txt,11699,171572,2a_map,12116,260151,2b_plt,20632,236902,3a_map,43448,186888,3b_map
42,61864,292588,1a_com,58347,229358,1b_com,22732,396266,2a_map,34215,358435,2b_map,42131,179677,3a_map,55214,421815,3b_tab
14,39781,217674,1a_map,27665,472262,1b_tab,26099,263639,2a_com,90629,375183,2b_com,53164,505293,3a_map,75446,294720,3b_plt
3,68830,185639,1a_map,83963,386946,1b_tab,45165,264669,2a_map,32732,477625,2b_txt,8000,514040,3a_map,61197,322133,3b_com
33,54114,510866,1a_map,34348,452369,1b_plt,18366,489950,2a_map,81429,296610,2b_txt,100562,175416,3a_map,65847,382739,3b_plt
39,39965,138021,1a_map,64080,186868,1b_tab,28165,420040,2a_map,60080,356343,2b_plt,31298,256632,3a_map,59280,292563,3b_map
16,30998,396254,1a_map,27982,256878,1b_tab,11866,342757,2a_map,50147,288276,2b_txt,34065,358340,3a_map,93112,157583,3b_plt
43,28332,425445,1a_map,64430,358482,1b_map,16183,530173,2a_map,69413,456610,2b_tab,27199,558205,3a_map,113828,225672,3b_plt
15,67013,588156,1a_map,79163,318286,1b_tab,29132,187309,2a_map,87762,224474,2b_txt,60964,402099,3a_map,118544,467079,3b_plt
5,67980,222986,1a_com,27582,404511,1b_plt,55931,160089,2a_map,22132,131774,2b_map,34898,364063,3a_map,62930,295966,3b_plt
27,72746,263687,1a_map,58030,197473,1b_txt,42548,627469,2a_map,59797,564105,2b_map,73646,486159,3a_map,138510,342416,3b_plt
12,57097,283960,1a_map,39481,489433,1b_tab,87496,186664,2a_map,70030,531981,2b_txt,44431,435536,3a_map,84896,346390,3b_map
4,46048,343017,1a_map,78446,199790,1b_tab,12449,325217,2a_map,37715,283103,2b_tab,60980,133060,3a_map,101795,394264,3b_plt
41,47231,315468,1a_map,38181,216090,1b_tab,14983,193408,2a_map,33548,371115,2b_map,32632,270637,3a_com,71430,409980,3b_tab
7,53631,371526,1a_map,112511,255515,1b_tab,26299,488270,2a_map,56531,429173,2b_map,66397,518236,3a_map,129694,121188,3b_tab
29,68663,139960,1a_map,88712,46831,1b_tab,58697,363182,2a_map,62364,213340,2b_txt,80079,279036,3a_map,2550,426112,3b_plt
29,68663,139960,1a_map,88712,46831,1b_tab,58697,363182,2a_map,62364,213340,2b_txt,80079,279036,3a_map,139343,180969,3b_plt
29,68663,139960,1a_map,88712,46831,1b_tab,58697,363182,2a_map,23199,326528,2b_tab,80079,279036,3a_map,2550,426112,3b_plt
29,68663,139960,1a_map,88712,46831,1b_tab,58697,363182,2a_map,23199,326528,2b_tab,80079,279036,3a_map,139343,180969,3b_plt
30,47414,245309,1a_map,51764,133548,1b_com,14766,226860,2a_com,30582,191179,2b_plt,32348,296507,3a_com,18282,332588,3b_com
24,43515,324518,1a_com,30548,371533,1b_plt,15999,405298,2a_map,20399,186825,2b_map,33732,213924,3a_map,65680,252405,3b_map
32,30532,366351,1a_map,71730,139246,1b_txt,45681,401232,2a_map,85096,484528,2b_map,22282,457696,3a_map,144209,217908,3b_plt
20,39281,675173,1a_map,92529,214646,1b_tab,95628,576011,2a_map,56264,316158,2b_txt,81313,380054,3a_map,102628,465767,3b_plt
1,28015,135335,1a_map,15516,419705,1b_tab,54481,230248,2a_com,58697,288362,2b_map,56314,169567,3a_map,63897,351525,3b_plt
25,72580,329883,1a_map,53781,405979,1b_tab,22149,198789,2a_map,99478,226038,2b_map,22699,171924,3a_map,56964,467826,3b_map
21,53347,357766,1a_map,44814,413063,1b_tab,20516,334084,2a_map,35332,165842,2b_txt,46398,285020,3a_map,71696,209907,3b_com
17,35232,186955,1a_map,27482,227253,1b_tab,19932,156174,2a_map,20116,259752,2b_map,21549,321015,3a_map,30682,284617,3b_tab
11,54181,361327,1a_map,29565,213201,1b_map,54214,247599,2a_com,46698,307146,2b_txt,32148,105273,3a_map,60497,144287,3b_map
45,39515,356283,1a_map,47031,270254,1b_tab,39781,171359,2a_map,31582,321035,2b_tab,49298,217190,3a_map,35898,399414,3b_tab
34,52064,532714,1a_map,50581,591761,1b_tab,98295,189298,2a_map,71730,456885,2b_tab,61897,388038,3a_map,90812,292793,3b_plt
13,28299,323210,1a_map,73046,193667,1b_tab,9716,369175,2a_map,12066,177351,2b_com,10866,355242,3a_map,49114,270863,3b_plt
44,54514,308501,1a_map,32732,430211,1b_tab,56930,367564,2a_map,60964,465826,2b_com,19382,173408,3a_map,93112,202439,3b_plt
18,32598,462451,1a_map,23282,377105,1b_plt,56781,403004,2a_map,121461,188848,2b_plt,19432,355106,3a_map,33732,317708,3b_map
22,73363,305516,1a_map,50181,471008,1b_tab,22399,431743,2a_map,36282,386712,2b_map,13016,286333,3a_map,75830,197421,3b_tab
26,47764,358574,1a_com,40498,183366,1b_tab,40548,546515,2a_map,114394,232031,2b_txt,85529,591096,3a_map,130660,411255,3b_tab
2,66230,426285,1a_map,88463,197046,1b_plt,42248,147898,2a_map,85329,549763,2b_txt,47948,496699,3a_map,129427,293375,3b_txt

In [31]:
starts = df_duration[['Start_1a', 'Start_1b','Start_2a', 'Start_2b','Start_3a', 'Start_3b']]
starts

    Start_1a  Start_1b  Start_2a  Start_2b  Start_3a  Start_3b
ID
46    558883    598498    509286    311712    435006    183436
37    321413    227485    377511    151255    264333     50310
23    358644    305863    343795    253799    190736    217434
40    255889    222674    320903    170660    144761    335419
19    458803    424555    408339    226898    174467    277595
31    219776    337870    266424    194644    148880    301489
38    203783    146703    402273    367092    413206    265930
35    274767    395044    171572    260151    236902    186888
42    292588    229358    396266    358435    179677    421815
14    217674    472262    263639    375183    505293    294720
3     185639    386946    264669    477625    514040    322133
33    510866    452369    489950    296610    175416    382739
39    138021    186868    420040    356343    256632    292563
16    396254    256878    342757    288276    358340    157583
43    425445    358482    530173    456610    558205    225672
15    588156    318286    187309    224474    402099    467079
5     222986    404511    160089    131774    364063    295966
27    263687    197473    627469    564105    486159    342416
12    283960    489433    186664    531981    435536    346390
4     343017    199790    325217    283103    133060    394264
41    315468    216090    193408    371115    270637    409980
7     371526    255515    488270    429173    518236    121188
29    139960     46831    363182    213340    279036    426112
29    139960     46831    363182    213340    279036    180969
29    139960     46831    363182    326528    279036    426112
29    139960     46831    363182    326528    279036    180969
30    245309    133548    226860    191179    296507    332588
24    324518    371533    405298    186825    213924    252405
32    366351    139246    401232    484528    457696    217908
20    675173    214646    576011    316158    380054    465767
1     135335    419705    230248    288362    169567    351525
25    329883    405979    198789    226038    171924    467826
21    357766    413063    334084    165842    285020    209907
17    186955    227253    156174    259752    321015    284617
11    361327    213201    247599    307146    105273    144287
45    356283    270254    171359    321035    217190    399414
34    532714    591761    189298    456885    388038    292793
13    323210    193667    369175    177351    355242    270863
44    308501    430211    367564    465826    173408    202439
18    462451    377105    403004    188848    355106    317708
22    305516    471008    431743    386712    286333    197421
26    358574    183366    546515    232031    591096    411255
2     426285    197046    147898    549763    496699    293375

In [32]:
starts.rename(columns={'Start_1a':'1','Start_1b':'2', 'Start_2a':'3', 'Start_2b':'4', 'Start_3a':'5', 'Start_3b':'6'}, inplace=True)
starts_t = starts.transpose()
starts_t

/var/folders/vw/8y99f8gn61ddx6t8ck0zm6ch0000gn/T/ipykernel_1123/4094281273.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  starts.rename(columns={'Start_1a':'1','Start_1b':'2', 'Start_2a':'3', 'Start_2b':'4', 'Start_3a':'5', 'Start_3b':'6'}, inplace=True)

ID,46,37,23,40,19,31,38,35,42,14,...,17,11,45,34,13,44,18,22,26,2
1,558883,321413,358644,255889,458803,219776,203783,274767,292588,217674,...,186955,361327,356283,532714,323210,308501,462451,305516,358574,426285
2,598498,227485,305863,222674,424555,337870,146703,395044,229358,472262,...,227253,213201,270254,591761,193667,430211,377105,471008,183366,197046
3,509286,377511,343795,320903,408339,266424,402273,171572,396266,263639,...,156174,247599,171359,189298,369175,367564,403004,431743,546515,147898
4,311712,151255,253799,170660,226898,194644,367092,260151,358435,375183,...,259752,307146,321035,456885,177351,465826,188848,386712,232031,549763
5,435006,264333,190736,144761,174467,148880,413206,236902,179677,505293,...,321015,105273,217190,388038,355242,173408,355106,286333,591096,496699
6,183436,50310,217434,335419,277595,301489,265930,186888,421815,294720,...,284617,144287,399414,292793,270863,202439,317708,197421,411255,293375

In [41]:
starts_t = starts_t.drop(columns=[24, 32, 20, 1, 25, 21, 17, 11, 45])
starts_t

ID      34      13      44      18      22      26      2
1   532714  323210  308501  462451  305516  358574  426285
2   591761  193667  430211  377105  471008  183366  197046
3   189298  369175  367564  403004  431743  546515  147898
4   456885  177351  465826  188848  386712  232031  549763
5   388038  355242  173408  355106  286333  591096  496699
6   292793  270863  202439  317708  197421  411255  293375

In [51]:
data = {
    34: ['365412'],
    13: ['426153'],
    44: ['561324'],
    18: ['465231'],
    22: ['651432'],
    26: ['241635'],
    2: ['326154'],
    24: ['456123'],
    32: ['261354'],
    20: ['245631'],
    1: ['153462'],
    25: ['534126'],
    21: ['465312'],
    17: ['312465'],
    11: ['562341'],
    45: ['352416'],
    12: ['316524'],
    4: ['524316'],
    41: ['325146'],
    7: ['621435'],
    29: [''],
    30: ['243156'],
    15: ['342561'],
    5: ['431652'],
    27: ['216543'],
    43: ['621435'],
    46: ['645312'],
    37: ['642513'],
    23: ['564231'],
    40: ['542136'],
    19: ['546321'],
    31: ['541362'],
    38: ['216435'],
    35: ['365412'],
    42: ['521436'],
    14: ['136425'],
    3: ['136245'],
    33: ['546231'],
    39: ['125643'],
    16: ['624351'],
}
df_starts = pd.DataFrame(data)
df_starts = df_starts.T
df_starts.reset_index(inplace=True)
df_starts = df_starts.rename(columns={0:'Order', 'index': 'ID'})
df_starts.set_index('ID', inplace=True)
df_starts

     Order
ID
34  365412
13  426153
44  561324
18  465231
22  651432
26  241635
2   326154
24  456123
32  261354
20  245631
1   153462
25  534126
21  465312
17  312465
11  562341
45  352416
12  316524
4   524316
41  325146
7   621435
29
30  243156
15  342561
5   431652
27  216543
43  621435
46  645312
37  642513
23  564231
40  542136
19  546321
31  541362
38  216435
35  365412
42  521436
14  136425
3   136245
33  546231
39  125643
16  624351

In [52]:
df_final = pd.merge(df_duration, df_starts, on='ID')
df_final

,Duration_1a,Start_1a,Last_AOI_1a,Duration_1b,Start_1b,Last_AOI_1b,Duration_2a,Start_2a,Last_AOI_2a,Duration_2b,Start_2b,Last_AOI_2b,Duration_3a,Start_3a,Last_AOI_3a,Duration_3b,Start_3b,Last_AOI_3b,Order
ID,,,,,,,,,,,,,,,,,,,
46,34682,558883,1a_com,96628,598498,1b_com,38765,509286,2a_map,113378,311712,2b_txt,67997,435006,3a_com,119944,183436,3b_com,645312
37,53564,321413,1a_map,33598,227485,1b_com,35032,377511,2a_map,72130,151255,2b_txt,49081,264333,3a_com,95579,50310,3b_plt,642513
23,85546,358644,1a_map,33632,305863,1b_tab,12266,343795,2a_map,48148,253799,2b_txt,21316,190736,3a_map,31082,217434,3b_com,564231
40,61197,255889,1a_map,30882,222674,1b_tab,10999,320903,2a_map,48398,170660,2b_map,19899,144761,3a_map,35332,335419,3b_plt,542136
19,42031,458803,1a_map,30282,424555,1b_tab,12816,408339,2a_map,42581,226898,2b_map,44914,174467,3a_map,124960,277595,3b_plt,546321
31,41881,219776,1a_map,20499,337870,1b_map,32832,266424,2a_map,21232,194644,2b_map,37581,148880,3a_map,33065,301489,3b_map,541362
38,57031,203783,1a_com,44748,146703,1b_plt,8416,402273,2a_map,30799,367092,2b_txt,49014,413206,3a_map,97295,265930,3b_plt,216435
35,117478,274767,1a_com,17849,395044,1b_txt,11699,171572,2a_map,12116,260151,2b_plt,20632,236902,3a_map,43448,186888,3b_map,365412
42,61864,292588,1a_com,58347,229358,1b_com,22732,396266,2a_map,34215,358435,2b_map,42131,179677,3a_map,55214,421815,3b_tab,521436
14,39781,217674,1a_map,27665,472262,1b_tab,26099,263639,2a_com,90629,375183,2b_com,53164,505293,3a_map,75446,294720,3b_plt,136425
3,68830,185639,1a_map,83963,386946,1b_tab,45165,264669,2a_map,32732,477625,2b_txt,8000,514040,3a_map,61197,322133,3b_com,136245
33,54114,510866,1a_map,34348,452369,1b_plt,18366,489950,2a_map,81429,296610,2b_txt,100562,175416,3a_map,65847,382739,3b_plt,546231
39,39965,138021,1a_map,64080,186868,1b_tab,28165,420040,2a_map,60080,356343,2b_plt,31298,256632,3a_map,59280,292563,3b_map,125643
16,30998,396254,1a_map,27982,256878,1b_tab,11866,342757,2a_map,50147,288276,2b_txt,34065,358340,3a_map,93112,157583,3b_plt,624351
43,28332,425445,1a_map,64430,358482,1b_map,16183,530173,2a_map,69413,456610,2b_tab,27199,558205,3a_map,113828,225672,3b_plt,621435
15,67013,588156,1a_map,79163,318286,1b_tab,29132,187309,2a_map,87762,224474,2b_txt,60964,402099,3a_map,118544,467079,3b_plt,342561
5,67980,222986,1a_com,27582,404511,1b_plt,55931,160089,2a_map,22132,131774,2b_map,34898,364063,3a_map,62930,295966,3b_plt,431652
27,72746,263687,1a_map,58030,197473,1b_txt,42548,627469,2a_map,59797,564105,2b_map,73646,486159,3a_map,138510,342416,3b_plt,216543
12,57097,283960,1a_map,39481,489433,1b_tab,87496,186664,2a_map,70030,531981,2b_txt,44431,435536,3a_map,84896,346390,3b_map,316524
4,46048,343017,1a_map,78446,199790,1b_tab,12449,325217,2a_map,37715,283103,2b_tab,60980,133060,3a_map,101795,394264,3b_plt,524316
41,47231,315468,1a_map,38181,216090,1b_tab,14983,193408,2a_map,33548,371115,2b_map,32632,270637,3a_com,71430,409980,3b_tab,325146
7,53631,371526,1a_map,112511,255515,1b_tab,26299,488270,2a_map,56531,429173,2b_map,66397,518236,3a_map,129694,121188,3b_tab,621435
29,68663,139960,1a_map,88712,46831,1b_tab,58697,363182,2a_map,62364,213340,2b_txt,80079,279036,3a_map,2550,426112,3b_plt,
29,68663,139960,1a_map,88712,46831,1b_tab,58697,363182,2a_map,62364,213340,2b_txt,80079,279036,3a_map,139343,180969,3b_plt,
29,68663,139960,1a_map,88712,46831,1b_tab,58697,363182,2a_map,23199,326528,2b_tab,80079,279036,3a_map,2550,426112,3b_plt,
29,68663,139960,1a_map,88712,46831,1b_tab,58697,363182,2a_map,23199,326528,2b_tab,80079,279036,3a_map,139343,180969,3b_plt,
30,47414,245309,1a_map,51764,133548,1b_com,14766,226860,2a_com,30582,191179,2b_plt,32348,296507,3a_com,18282,332588,3b_com,243156
24,43515,324518,1a_com,30548,371533,1b_plt,15999,405298,2a_map,20399,186825,2b_map,33732,213924,3a_map,65680,252405,3b_map,456123
32,30532,366351,1a_map,71730,139246,1b_txt,45681,401232,2a_map,85096,484528,2b_map,22282,457696,3a_map,144209,217908,3b_plt,261354
20,39281,675173,1a_map,92529,214646,1b_tab,95628,576011,2a_map,56264,316158,2b_txt,81313,380054,3a_map,102628,465767,3b_plt,245631
1,28015,135335,1a_map,15516,419705,1b_tab,54481,230248,2a_com,58697,288362,2b_map,56314,169567,3a_map,63897,351525,3b_plt,153462
25,72580,329883,1a_map,53781,405979,1b_tab,22149,198789,2a_map,99478,226038,2b_map,22699,171924,3a_map,56964,467826,3b_map,534126
21,53347,357766,1a_map,44814,413063,1b_tab,20516,334084,2a_map,35332,165842,2b_txt,46398,285020,3a_map,71696,209907,3b_com,465312
17,35232,186955,1a_map,27482,227253,1b_tab,19932,156174,2a_map,20116,259752,2b_map,21549,321015,3a_map,30682,284617,3b_tab,312465
11,54181,361327,1a_map,29565,213201,1b_map,54214,247599,2a_com,46698,307146,2b_txt,32148,105273,3a_map,60497,144287,3b_map,562341
45,39515,356283,1a_map,47031,270254,1b_tab,39781,171359,2a_map,31582,321035,2b_tab,49298,217190,3a_map,35898,399414,3b_tab,352416
34,52064,532714,1a_map,50581,591761,1b_tab,98295,189298,2a_map,71730,456885,2b_tab,61897,388038,3a_map,90812,292793,3b_plt,365412
13,28299,323210,1a_map,73046,193667,1b_tab,9716,369175,2a_map,12066,177351,2b_com,10866,355242,3a_map,49114,270863,3b_plt,426153
44,54514,308501,1a_map,32732,430211,1b_tab,56930,367564,2a_map,60964,465826,2b_com,19382,173408,3a_map,93112,202439,3b_plt,561324
18,32598,462451,1a_map,23282,377105,1b_plt,56781,403004,2a_map,121461,188848,2b_plt,19432,355106,3a_map,33732,317708,3b_map,465231
22,73363,305516,1a_map,50181,471008,1b_tab,22399,431743,2a_map,36282,386712,2b_map,13016,286333,3a_map,75830,197421,3b_tab,651432
26,47764,358574,1a_com,40498,183366,1b_tab,40548,546515,2a_map,114394,232031,2b_txt,85529,591096,3a_map,130660,411255,3b_tab,241635
2,66230,426285,1a_map,88463,197046,1b_plt,42248,147898,2a_map,85329,549763,2b_txt,47948,496699,3a_map,129427,293375,3b_txt,326154

In [54]:
df_final = df_final.drop(columns=['Start_1a', 'Start_1b','Start_2a', 'Start_2b','Start_3a', 'Start_3b'])
df_final

,Duration_1a,Last_AOI_1a,Duration_1b,Last_AOI_1b,Duration_2a,Last_AOI_2a,Duration_2b,Last_AOI_2b,Duration_3a,Last_AOI_3a,Duration_3b,Last_AOI_3b,Order
ID,,,,,,,,,,,,,
46,34682,1a_com,96628,1b_com,38765,2a_map,113378,2b_txt,67997,3a_com,119944,3b_com,645312
37,53564,1a_map,33598,1b_com,35032,2a_map,72130,2b_txt,49081,3a_com,95579,3b_plt,642513
23,85546,1a_map,33632,1b_tab,12266,2a_map,48148,2b_txt,21316,3a_map,31082,3b_com,564231
40,61197,1a_map,30882,1b_tab,10999,2a_map,48398,2b_map,19899,3a_map,35332,3b_plt,542136
19,42031,1a_map,30282,1b_tab,12816,2a_map,42581,2b_map,44914,3a_map,124960,3b_plt,546321
31,41881,1a_map,20499,1b_map,32832,2a_map,21232,2b_map,37581,3a_map,33065,3b_map,541362
38,57031,1a_com,44748,1b_plt,8416,2a_map,30799,2b_txt,49014,3a_map,97295,3b_plt,216435
35,117478,1a_com,17849,1b_txt,11699,2a_map,12116,2b_plt,20632,3a_map,43448,3b_map,365412
42,61864,1a_com,58347,1b_com,22732,2a_map,34215,2b_map,42131,3a_map,55214,3b_tab,521436
14,39781,1a_map,27665,1b_tab,26099,2a_com,90629,2b_com,53164,3a_map,75446,3b_plt,136425
3,68830,1a_map,83963,1b_tab,45165,2a_map,32732,2b_txt,8000,3a_map,61197,3b_com,136245
33,54114,1a_map,34348,1b_plt,18366,2a_map,81429,2b_txt,100562,3a_map,65847,3b_plt,546231
39,39965,1a_map,64080,1b_tab,28165,2a_map,60080,2b_plt,31298,3a_map,59280,3b_map,125643
16,30998,1a_map,27982,1b_tab,11866,2a_map,50147,2b_txt,34065,3a_map,93112,3b_plt,624351
43,28332,1a_map,64430,1b_map,16183,2a_map,69413,2b_tab,27199,3a_map,113828,3b_plt,621435
15,67013,1a_map,79163,1b_tab,29132,2a_map,87762,2b_txt,60964,3a_map,118544,3b_plt,342561
5,67980,1a_com,27582,1b_plt,55931,2a_map,22132,2b_map,34898,3a_map,62930,3b_plt,431652
27,72746,1a_map,58030,1b_txt,42548,2a_map,59797,2b_map,73646,3a_map,138510,3b_plt,216543
12,57097,1a_map,39481,1b_tab,87496,2a_map,70030,2b_txt,44431,3a_map,84896,3b_map,316524
4,46048,1a_map,78446,1b_tab,12449,2a_map,37715,2b_tab,60980,3a_map,101795,3b_plt,524316
41,47231,1a_map,38181,1b_tab,14983,2a_map,33548,2b_map,32632,3a_com,71430,3b_tab,325146
7,53631,1a_map,112511,1b_tab,26299,2a_map,56531,2b_map,66397,3a_map,129694,3b_tab,621435
29,68663,1a_map,88712,1b_tab,58697,2a_map,62364,2b_txt,80079,3a_map,2550,3b_plt,
29,68663,1a_map,88712,1b_tab,58697,2a_map,62364,2b_txt,80079,3a_map,139343,3b_plt,
29,68663,1a_map,88712,1b_tab,58697,2a_map,23199,2b_tab,80079,3a_map,2550,3b_plt,
29,68663,1a_map,88712,1b_tab,58697,2a_map,23199,2b_tab,80079,3a_map,139343,3b_plt,
30,47414,1a_map,51764,1b_com,14766,2a_com,30582,2b_plt,32348,3a_com,18282,3b_com,243156
24,43515,1a_com,30548,1b_plt,15999,2a_map,20399,2b_map,33732,3a_map,65680,3b_map,456123
32,30532,1a_map,71730,1b_txt,45681,2a_map,85096,2b_map,22282,3a_map,144209,3b_plt,261354
20,39281,1a_map,92529,1b_tab,95628,2a_map,56264,2b_txt,81313,3a_map,102628,3b_plt,245631
1,28015,1a_map,15516,1b_tab,54481,2a_com,58697,2b_map,56314,3a_map,63897,3b_plt,153462
25,72580,1a_map,53781,1b_tab,22149,2a_map,99478,2b_map,22699,3a_map,56964,3b_map,534126
21,53347,1a_map,44814,1b_tab,20516,2a_map,35332,2b_txt,46398,3a_map,71696,3b_com,465312
17,35232,1a_map,27482,1b_tab,19932,2a_map,20116,2b_map,21549,3a_map,30682,3b_tab,312465
11,54181,1a_map,29565,1b_map,54214,2a_com,46698,2b_txt,32148,3a_map,60497,3b_map,562341
45,39515,1a_map,47031,1b_tab,39781,2a_map,31582,2b_tab,49298,3a_map,35898,3b_tab,352416
34,52064,1a_map,50581,1b_tab,98295,2a_map,71730,2b_tab,61897,3a_map,90812,3b_plt,365412
13,28299,1a_map,73046,1b_tab,9716,2a_map,12066,2b_com,10866,3a_map,49114,3b_plt,426153
44,54514,1a_map,32732,1b_tab,56930,2a_map,60964,2b_com,19382,3a_map,93112,3b_plt,561324
18,32598,1a_map,23282,1b_plt,56781,2a_map,121461,2b_plt,19432,3a_map,33732,3b_map,465231
22,73363,1a_map,50181,1b_tab,22399,2a_map,36282,2b_map,13016,3a_map,75830,3b_tab,651432
26,47764,1a_com,40498,1b_tab,40548,2a_map,114394,2b_txt,85529,3a_map,130660,3b_tab,241635
2,66230,1a_map,88463,1b_plt,42248,2a_map,85329,2b_txt,47948,3a_map,129427,3b_txt,326154

In [56]:
df_final = df_final.drop(29)
new_29 = {'Duration_1a': 68663, 'Last_AOI_1a': '1a_map',
          'Duration_1b': 88712, 'Last_AOI_1b': '1b_tab',
          'Duration_2a': 58697, 'Last_AOI_2a': '2a_map',
          'Duration_2b': 62364, 'Last_AOI_2b': '2b_txt',
          'Duration_3a': 80079, 'Last_AOI_3a': '3a_map',
          'Duration_3b': 139343, 'Last_AOI_3b': '3b_plt',
          'Order': ''}

df_final.loc[29] = new_29
df_final

,Duration_1a,Last_AOI_1a,Duration_1b,Last_AOI_1b,Duration_2a,Last_AOI_2a,Duration_2b,Last_AOI_2b,Duration_3a,Last_AOI_3a,Duration_3b,Last_AOI_3b,Order
ID,,,,,,,,,,,,,
46,34682,1a_com,96628,1b_com,38765,2a_map,113378,2b_txt,67997,3a_com,119944,3b_com,645312
37,53564,1a_map,33598,1b_com,35032,2a_map,72130,2b_txt,49081,3a_com,95579,3b_plt,642513
23,85546,1a_map,33632,1b_tab,12266,2a_map,48148,2b_txt,21316,3a_map,31082,3b_com,564231
40,61197,1a_map,30882,1b_tab,10999,2a_map,48398,2b_map,19899,3a_map,35332,3b_plt,542136
19,42031,1a_map,30282,1b_tab,12816,2a_map,42581,2b_map,44914,3a_map,124960,3b_plt,546321
31,41881,1a_map,20499,1b_map,32832,2a_map,21232,2b_map,37581,3a_map,33065,3b_map,541362
38,57031,1a_com,44748,1b_plt,8416,2a_map,30799,2b_txt,49014,3a_map,97295,3b_plt,216435
35,117478,1a_com,17849,1b_txt,11699,2a_map,12116,2b_plt,20632,3a_map,43448,3b_map,365412
42,61864,1a_com,58347,1b_com,22732,2a_map,34215,2b_map,42131,3a_map,55214,3b_tab,521436
14,39781,1a_map,27665,1b_tab,26099,2a_com,90629,2b_com,53164,3a_map,75446,3b_plt,136425
3,68830,1a_map,83963,1b_tab,45165,2a_map,32732,2b_txt,8000,3a_map,61197,3b_com,136245
33,54114,1a_map,34348,1b_plt,18366,2a_map,81429,2b_txt,100562,3a_map,65847,3b_plt,546231
39,39965,1a_map,64080,1b_tab,28165,2a_map,60080,2b_plt,31298,3a_map,59280,3b_map,125643
16,30998,1a_map,27982,1b_tab,11866,2a_map,50147,2b_txt,34065,3a_map,93112,3b_plt,624351
43,28332,1a_map,64430,1b_map,16183,2a_map,69413,2b_tab,27199,3a_map,113828,3b_plt,621435
15,67013,1a_map,79163,1b_tab,29132,2a_map,87762,2b_txt,60964,3a_map,118544,3b_plt,342561
5,67980,1a_com,27582,1b_plt,55931,2a_map,22132,2b_map,34898,3a_map,62930,3b_plt,431652
27,72746,1a_map,58030,1b_txt,42548,2a_map,59797,2b_map,73646,3a_map,138510,3b_plt,216543
12,57097,1a_map,39481,1b_tab,87496,2a_map,70030,2b_txt,44431,3a_map,84896,3b_map,316524
4,46048,1a_map,78446,1b_tab,12449,2a_map,37715,2b_tab,60980,3a_map,101795,3b_plt,524316
41,47231,1a_map,38181,1b_tab,14983,2a_map,33548,2b_map,32632,3a_com,71430,3b_tab,325146
7,53631,1a_map,112511,1b_tab,26299,2a_map,56531,2b_map,66397,3a_map,129694,3b_tab,621435
30,47414,1a_map,51764,1b_com,14766,2a_com,30582,2b_plt,32348,3a_com,18282,3b_com,243156
24,43515,1a_com,30548,1b_plt,15999,2a_map,20399,2b_map,33732,3a_map,65680,3b_map,456123
32,30532,1a_map,71730,1b_txt,45681,2a_map,85096,2b_map,22282,3a_map,144209,3b_plt,261354
20,39281,1a_map,92529,1b_tab,95628,2a_map,56264,2b_txt,81313,3a_map,102628,3b_plt,245631
1,28015,1a_map,15516,1b_tab,54481,2a_com,58697,2b_map,56314,3a_map,63897,3b_plt,153462
25,72580,1a_map,53781,1b_tab,22149,2a_map,99478,2b_map,22699,3a_map,56964,3b_map,534126
21,53347,1a_map,44814,1b_tab,20516,2a_map,35332,2b_txt,46398,3a_map,71696,3b_com,465312
17,35232,1a_map,27482,1b_tab,19932,2a_map,20116,2b_map,21549,3a_map,30682,3b_tab,312465
11,54181,1a_map,29565,1b_map,54214,2a_com,46698,2b_txt,32148,3a_map,60497,3b_map,562341
45,39515,1a_map,47031,1b_tab,39781,2a_map,31582,2b_tab,49298,3a_map,35898,3b_tab,352416
34,52064,1a_map,50581,1b_tab,98295,2a_map,71730,2b_tab,61897,3a_map,90812,3b_plt,365412
13,28299,1a_map,73046,1b_tab,9716,2a_map,12066,2b_com,10866,3a_map,49114,3b_plt,426153
44,54514,1a_map,32732,1b_tab,56930,2a_map,60964,2b_com,19382,3a_map,93112,3b_plt,561324
18,32598,1a_map,23282,1b_plt,56781,2a_map,121461,2b_plt,19432,3a_map,33732,3b_map,465231
22,73363,1a_map,50181,1b_tab,22399,2a_map,36282,2b_map,13016,3a_map,75830,3b_tab,651432
26,47764,1a_com,40498,1b_tab,40548,2a_map,114394,2b_txt,85529,3a_map,130660,3b_tab,241635
2,66230,1a_map,88463,1b_plt,42248,2a_map,85329,2b_txt,47948,3a_map,129427,3b_txt,326154
29,68663,1a_map,88712,1b_tab,58697,2a_map,62364,2b_txt,80079,3a_map,139343,3b_plt,

In [57]:
df_final.to_csv('data-new/metrics/times.csv', index=True)