Czy istnieje istotna statystycznie różnica w poprawności odpowiedzi w zależności od:
- liczby wizyt?
- długości całkowitej i średniej wizyty?

In [1]:
import pandas as pd

from functions.set_preparations import sum_rows

In [3]:
df_1a = pd.read_csv('/Users/martasolarz/Studies/Thesis/data/metrics/AOI_visit/1a.csv', index_col='ID')

df_2a = pd.read_csv('/Users/martasolarz/Studies/Thesis/data/metrics/AOI_visit/2a.csv', index_col='ID')

df_3a = pd.read_csv('/Users/martasolarz/Studies/Thesis/data/metrics/AOI_visit/3a.csv', index_col='ID')

df_a = df_1a.merge(df_2a, on='ID').merge(df_3a, on='ID')
df_a

,Total_1a_map,Avg_1a_map,Min_1a_map,Max_1a_map,Num_1a_map,TTV_1a_map,DTTV_1a_map,Total_1a_com,Avg_1a_com,Min_1a_com,...,Num_3a_map,TTV_3a_map,DTTV_3a_map,Total_3a_com,Avg_3a_com,Min_3a_com,Max_3a_com,Num_3a_com,TTV_3a_com,DTTV_3a_com
ID,,,,,,,,,,,,,,,,,,,,,
46,23440,11720.0,5050.0,18390.0,2,6905.0,5050.0,3166,633.0,67.0,...,2,11144.0,4291.0,3566,713.0,75.0,1550.0,5,760.0,75.0
37,47781,6826.0,225.0,33206.0,7,0.0,225.0,0,NaN,NaN,...,5,0.0,465.0,1912,478.0,287.0,692.0,4,1281.0,625.0
23,76144,25381.0,4650.0,65836.0,3,5240.0,65836.0,4133,1378.0,67.0,...,1,6790.0,14399.0,4741,1580.0,175.0,3908.0,3,808.0,175.0
40,55025,11005.0,238.0,48954.0,5,0.0,238.0,942,235.0,67.0,...,5,250.0,117.0,6116,1529.0,67.0,3733.0,4,125.0,67.0
19,38114,9529.0,242.0,31506.0,4,0.0,242.0,2858,953.0,292.0,...,3,3868.0,3425.0,5175,862.0,150.0,2691.0,6,485.0,417.0
31,31849,5308.0,32.0,24781.0,6,0.0,362.0,8883,2221.0,183.0,...,6,1021.0,1554.0,17257,4314.0,258.0,7066.0,4,671.0,258.0
38,51904,25952.0,292.0,51612.0,2,0.0,292.0,952,476.0,393.0,...,2,0.0,318.0,0,NaN,NaN,NaN,0,NaN,NaN
35,109954,21991.0,158.0,65745.0,5,243.0,350.0,3908,977.0,108.0,...,4,0.0,294.0,3833,1917.0,1775.0,2058.0,2,594.0,1775.0
42,55774,11155.0,67.0,29540.0,5,96.0,67.0,4175,696.0,142.0,...,5,2282.0,300.0,7041,1408.0,100.0,2067.0,5,316.0,1925.0
14,36720,9180.0,92.0,34447.0,4,637.0,92.0,1658,553.0,217.0,...,5,0.0,239.0,3300,1100.0,75.0,2775.0,3,289.0,2775.0
3,54941,6105.0,333.0,21698.0,9,1432.0,542.0,867,433.0,200.0,...,2,242.0,400.0,1,1.0,1.0,1.0,1,0.0,1.0
33,48271,16090.0,158.0,42747.0,3,4230.0,158.0,4167,1389.0,75.0,...,5,248.0,133.0,7466,1244.0,367.0,2800.0,6,457.0,383.0
39,27600,5520.0,300.0,19257.0,5,282.0,300.0,10566,2641.0,75.0,...,5,0.0,328.0,9033,903.0,83.0,4016.0,10,762.0,208.0
16,28165,9388.0,367.0,27406.0,3,0.0,392.0,2016,1008.0,817.0,...,4,0.0,435.0,5841,974.0,375.0,2358.0,6,493.0,892.0
43,23590,3370.0,142.0,11632.0,7,209.0,467.0,0,NaN,NaN,...,3,249.0,325.0,0,NaN,NaN,NaN,0,NaN,NaN
15,61789,30894.0,471.0,61318.0,2,0.0,471.0,5150,5150.0,5150.0,...,6,0.0,343.0,18273,3655.0,358.0,7291.0,5,460.0,4375.0
5,61045,12209.0,108.0,59029.0,5,111.0,108.0,5782,1446.0,191.0,...,1,2315.0,32497.0,1125,562.0,242.0,883.0,2,215.0,242.0
27,66617,11103.0,16.0,38693.0,6,0.0,411.0,2841,710.0,83.0,...,2,377.0,75.0,5716,1905.0,667.0,3675.0,3,1160.0,3675.0
12,43327,8665.0,142.0,41562.0,5,0.0,365.0,100,100.0,100.0,...,3,0.0,662.0,0,NaN,NaN,NaN,0,NaN,NaN
4,41630,13877.0,275.0,40180.0,3,2896.0,275.0,2733,547.0,117.0,...,4,8119.0,2108.0,10107,1011.0,100.0,4966.0,10,620.0,325.0
41,40001,10000.0,29.0,31064.0,4,72.0,133.0,6258,3129.0,142.0,...,4,152.0,117.0,6624,1325.0,225.0,2883.0,5,369.0,258.0
7,49848,12462.0,136.0,48879.0,4,0.0,136.0,2667,667.0,425.0,...,6,0.0,133.0,4999,1000.0,83.0,2608.0,5,349.0,700.0
29,61947,15487.0,267.0,60860.0,4,0.0,401.0,5941,2971.0,300.0,...,6,9665.0,33864.0,15915,2274.0,83.0,7433.0,7,283.0,1433.0
30,40230,13410.0,83.0,39713.0,3,5262.0,39713.0,908,227.0,133.0,...,6,0.0,152.0,3150,315.0,75.0,1083.0,10,511.0,92.0
24,38230,19115.0,2000.0,36230.0,2,2681.0,2000.0,3180,795.0,75.0,...,5,4743.0,1067.0,5299,589.0,75.0,3008.0,9,3643.0,475.0
32,28614,14307.0,158.0,28456.0,2,118.0,158.0,1208,604.0,558.0,...,3,0.0,334.0,908,303.0,142.0,558.0,3,393.0,142.0
20,33748,11249.0,259.0,32739.0,3,0.0,259.0,3425,1712.0,500.0,...,5,0.0,281.0,7591,949.0,217.0,2041.0,8,322.0,2041.0
1,25400,6350.0,83.0,24598.0,4,165.0,83.0,908,454.0,242.0,...,4,0.0,97.0,1633,272.0,117.0,458.0,6,256.0,117.0
25,56573,9429.0,322.0,24131.0,6,0.0,572.0,13341,3335.0,675.0,...,4,219.0,217.0,11699,5850.0,2475.0,9224.0,2,677.0,9224.0
21,48211,24106.0,432.0,47779.0,2,4561.0,47779.0,0,NaN,NaN,...,5,314.0,67.0,458,229.0,133.0,325.0,2,8121.0,133.0
17,24990,3570.0,200.0,11849.0,7,2916.0,1375.0,800,267.0,108.0,...,4,3633.0,2333.0,408,408.0,408.0,408.0,1,0.0,408.0
11,49806,12452.0,475.0,44388.0,4,0.0,475.0,1225,306.0,92.0,...,5,0.0,784.0,5141,1285.0,542.0,3300.0,4,3184.0,3300.0
45,33747,6749.0,467.0,30606.0,5,3132.0,467.0,2863,477.0,100.0,...,6,0.0,68.0,9891,1978.0,75.0,4650.0,5,260.0,1217.0
34,46079,15360.0,233.0,45388.0,3,126.0,233.0,4258,1419.0,242.0,...,11,0.0,139.0,16549,1655.0,133.0,3591.0,10,439.0,2892.0
13,18613,3723.0,198.0,16265.0,5,0.0,198.0,6666,952.0,67.0,...,3,0.0,255.0,1808,452.0,125.0,983.0,4,363.0,125.0
44,47498,11874.0,217.0,22692.0,4,0.0,217.0,3800,633.0,67.0,...,1,3904.0,15474.0,358,358.0,358.0,358.0,1,2788.0,358.0
18,28999,14499.0,100.0,28899.0,2,320.0,100.0,2158,2158.0,2158.0,...,3,0.0,339.0,8386,4193.0,1491.0,6895.0,2,2218.0,1491.0
22,52442,10488.0,233.0,31843.0,5,205.0,508.0,11991,2398.0,100.0,...,3,312.0,208.0,2963,1482.0,1292.0,1672.0,2,562.0,1292.0
26,43038,14346.0,283.0,40463.0,3,2853.0,40463.0,181,181.0,181.0,...,15,0.0,133.0,100,100.0,100.0,100.0,1,29810.0,100.0
2,54637,27319.0,16240.0,38397.0,2,9915.0,16240.0,9782,3261.0,567.0,...,5,7406.0,825.0,11349,1032.0,100.0,2733.0,11,481.0,608.0

In [6]:
sum_total = df_a.apply(sum_rows, args=('Total_ _map', ['1a', '2a', '3a']), axis=1)
sum_avg = df_a.apply(sum_rows, args=('Avg_ _map', ['1a', '2a', '3a']), axis=1)
sum_num = df_a.apply(sum_rows, args=('Num_ _map', ['1a', '2a', '3a']), axis=1)
df_sumA = pd.DataFrame(data={'Total':sum_total, 'Avg':sum_avg, 'Num':sum_num})
df_sumA

       Total      Avg   Num
ID
46   90794.0  42443.0   7.0
37  115826.0  17531.0  24.0
23   95318.0  44555.0   5.0
40   75260.0  16133.0  13.0
19   83670.0  24714.0  10.0
31   72716.0  11579.0  19.0
38  100385.0  50192.0   6.0
35  133469.0  28552.0  12.0
42  105616.0  21957.0  14.0
14   98352.0  22186.0  13.0
3    87206.0  12571.0  18.0
33  153128.0  37061.0  13.0
39   64123.0  15422.0  13.0
16   58690.0  16669.0  12.0
43   61034.0  15851.0  13.0
15  127061.0  45649.0  11.0
5   137688.0  50224.0  14.0
27  161860.0  47711.0  15.0
12  144784.0  28182.0  16.0
4    95634.0  27378.0  11.0
41   75977.0  21765.0  10.0
7   130725.0  29831.0  13.0
29  174583.0  34260.0  16.0
30   68121.0  18343.0  14.0
24   71919.0  27515.0  10.0
32   82637.0  26476.0  11.0
20  190524.0  36118.0  16.0
1   125050.0  28814.0  13.0
25   84104.0  17778.0  13.0
21  102561.0  34976.0  12.0
17   54146.0  10212.0  16.0
11  122372.0  33731.0  12.0
45   98274.0  18483.0  16.0
34  155301.0  24764.0  26.0
13   32712.0   9567.0  10.0
44  110851.0  34188.0  12.0
18   84390.0  24662.0  11.0
22   74733.0  16635.0  12.0
26  145801.0  22654.0  27.0
2   113689.0  38235.0  13.0

In [9]:
df_1aggr = pd.read_csv('/Users/martasolarz/Studies/Thesis/data/metrics/AOI_visit/1b-aggregate.csv', index_col='ID')

df_2aggr = pd.read_csv('/Users/martasolarz/Studies/Thesis/data/metrics/AOI_visit/2b-aggregate.csv', index_col='ID')

df_3aggr = pd.read_csv('/Users/martasolarz/Studies/Thesis/data/metrics/AOI_visit/3b-aggregate.csv', index_col='ID')

df_1b = pd.read_csv('/Users/martasolarz/Studies/Thesis/data/metrics/AOI_visit/1b.csv', index_col='ID')

df_2b = pd.read_csv('/Users/martasolarz/Studies/Thesis/data/metrics/AOI_visit/2b.csv', index_col='ID')

df_3b = pd.read_csv('/Users/martasolarz/Studies/Thesis/data/metrics/AOI_visit/3b.csv', index_col='ID')

df_baggr = df_1aggr.merge(df_2aggr, on='ID').merge(df_3aggr, on='ID')
df_baggr

,Total_x,Avg_x,Min_x,Max_x,Num_x,TTV_x,DTTV_x,Total_y,Avg_y,Min_y,...,Num_y,TTV_y,DTTV_y,Total,Avg,Min,Max,Num,TTV,DTTV
ID,,,,,,,,,,,,,,,,,,,,,
46,73185,24395,14066,36730,3,8663,14066,95430,10603,317,...,9,10164,4722,76765,6979,67,19165,11,7166,5108
37,26306,6576,67,25315,4,224,67,64795,7199,108,...,9,210,117,85181,14197,108,50088,6,0,430
23,26973,13486,108,26864,2,3387,108,35951,5136,66,...,7,122,66,21773,10886,92,21681,2,190,92
40,22978,3830,92,17165,6,0,122,40205,5026,125,...,8,49,158,26482,4414,335,12582,6,0,335
19,23791,4758,91,13657,5,0,235,36455,7291,250,...,5,91,250,116089,23218,440,41180,5,0,440
31,15632,5211,117,15349,3,66,117,14825,7413,3425,...,2,5582,3425,17699,2950,117,10941,6,0,375
38,32583,5430,125,28600,6,258,133,18177,3029,75,...,6,0,386,75902,6900,208,36972,11,9739,1067
35,16307,5436,500,14407,3,327,14407,9158,3053,83,...,3,85,83,35369,2721,83,18503,13,140,7967
42,46401,11600,63,26931,4,0,63,25166,5033,23,...,5,0,23,47659,11915,223,46431,4,0,223
14,22708,2838,173,10824,8,0,173,84378,28126,108,...,3,0,396,63214,7024,75,25481,9,0,360
3,60823,4345,83,16774,14,0,338,12999,1625,92,...,8,377,92,31173,2598,83,12857,12,232,200
33,22422,3737,99,13699,6,0,99,73058,12176,39,...,6,0,39,59113,14778,529,53301,4,0,529
39,59309,19770,356,55445,3,0,356,50298,12574,1042,...,4,0,1042,52931,17644,511,31297,3,0,511
16,18352,3670,46,17449,5,255,125,45173,11293,154,...,4,0,154,78566,6044,142,30910,13,0,355
43,54960,4228,325,20190,13,0,6297,60848,8693,925,...,7,25,4141,75008,8334,242,41731,9,0,22282
15,68518,11420,108,44611,6,146,650,83001,20750,258,...,4,0,541,83306,6942,217,21190,12,66,1450
5,19511,6504,71,18974,3,247,467,13586,2717,133,...,5,189,133,46846,9369,175,38764,5,25,392
27,50146,6268,83,26573,8,13,1075,50888,7270,75,...,7,792,3058,122791,9445,108,81823,13,0,1873
12,24708,2059,158,7147,12,0,212,58142,5814,225,...,10,0,270,45236,1809,325,9816,25,0,377
4,66904,6690,67,38539,10,0,343,30747,7687,308,...,4,4456,308,87509,17502,2541,34664,5,4019,7516
41,28048,5610,192,16990,5,0,192,28393,7098,362,...,4,0,362,60116,12023,5366,22881,5,3448,5766
7,101968,11330,75,77019,9,0,132,48012,9602,608,...,5,4577,608,114320,16331,179,60854,7,0,179
29,80584,8954,192,66461,9,188,192,57117,19039,92,...,3,72,383,127943,25589,125,99364,5,0,341
30,36852,3071,67,19998,12,24,133,20565,2571,92,...,8,606,92,11984,5992,176,11807,2,0,176
24,23822,4764,67,19164,5,99,67,12616,2103,92,...,6,194,92,45561,3797,108,23023,12,251,108
32,62595,10433,275,51212,6,0,275,79854,13309,292,...,6,108,292,126479,21080,281,44555,6,0,281
20,73227,8136,134,28139,9,78,258,43957,7326,252,...,6,0,316,92204,15367,92,57331,6,0,384
1,11216,1602,100,6524,7,0,177,51716,8619,142,...,6,0,142,56820,5682,125,33931,10,0,225
25,50389,12597,1070,43262,4,0,1070,89385,14897,208,...,6,0,4800,46180,4198,258,15099,11,126,783
21,37848,5407,100,27656,7,0,134,30324,6065,175,...,5,0,792,51604,3036,132,14717,17,0,132
17,18381,2626,208,8708,7,31,208,15208,2535,19,...,6,0,19,12216,2036,8,5066,6,4551,3033
11,24224,6056,171,12116,4,0,422,43590,10897,144,...,4,0,144,49048,7007,353,28581,7,0,566
45,38743,3874,283,12949,10,0,313,24964,3121,83,...,8,65,83,27979,5596,223,13857,5,0,223
34,46465,4647,1417,16124,10,316,1417,65211,4658,67,...,14,362,592,72988,2807,92,11107,26,359,150
13,66380,16595,247,63774,4,0,247,5739,1913,400,...,3,0,423,39255,5608,142,26989,7,58,142
44,23523,3360,108,21432,7,67,133,55120,9187,133,...,6,0,133,73014,6084,258,25465,12,0,345
18,16914,16914,16914,16914,1,6368,16914,114353,19059,200,...,6,87,358,19028,1464,67,8224,13,0,1211
22,43380,14460,592,41688,3,101,592,22832,3805,292,...,6,150,292,60842,10140,742,29039,6,69,742
26,29598,4228,375,13299,7,3483,375,84602,6043,108,...,14,2340,4133,83585,2458,117,34722,34,4960,1000
2,75146,15029,75,68313,5,27,75,75666,15133,9,...,5,3639,483,113890,16270,34,66925,7,30,399

In [10]:
sum_total = df_baggr.apply(sum_rows, args=('Total', ['_x', '_y', ''], True), axis=1)
sum_avg = df_baggr.apply(sum_rows, args=('Avg', ['_x', '_y', ''], True), axis=1)
sum_num = df_baggr.apply(sum_rows, args=('Num', ['_x', '_y', ''], True), axis=1)
df_sumB = pd.DataFrame(data={'Total':sum_total, 'Avg':sum_avg, 'Num':sum_num})
df_sumB

     Total    Avg  Num
ID
46  245380  41977   23
37  176282  27972   19
23   84697  29508   11
40   89665  13270   20
19  176335  35267   15
31   48156  15574   11
38  126662  15359   23
35   60834  11210   19
42  119226  28548   13
14  170300  37988   20
3   104995   8568   34
33  154593  30691   16
39  162538  49988   10
16  142091  21007   22
43  190816  21255   29
15  234825  39112   22
5    79943  18590   13
27  223825  22983   28
12  128086   9682   47
4   185160  31879   19
41  116557  24731   14
7   264300  37263   21
29  265644  53582   17
30   69401  11634   22
24   81999  10664   23
32  268928  44822   18
20  209388  30829   21
1   119752  15903   23
25  185954  31692   21
21  119776  14508   29
17   45805   7197   19
11  116862  23960   15
45   91686  12591   23
34  184664  12112   50
13  111374  24116   14
44  151657  18631   25
18  150295  37437   20
22  127054  28405   15
26  197785  12729   55
2   264702  46432   17

In [11]:
df_all = df_sumA.merge(df_sumB, on='ID')
df_all

     Total_x    Avg_x  Num_x  Total_y  Avg_y  Num_y
ID
46   90794.0  42443.0    7.0   245380  41977     23
37  115826.0  17531.0   24.0   176282  27972     19
23   95318.0  44555.0    5.0    84697  29508     11
40   75260.0  16133.0   13.0    89665  13270     20
19   83670.0  24714.0   10.0   176335  35267     15
31   72716.0  11579.0   19.0    48156  15574     11
38  100385.0  50192.0    6.0   126662  15359     23
35  133469.0  28552.0   12.0    60834  11210     19
42  105616.0  21957.0   14.0   119226  28548     13
14   98352.0  22186.0   13.0   170300  37988     20
3    87206.0  12571.0   18.0   104995   8568     34
33  153128.0  37061.0   13.0   154593  30691     16
39   64123.0  15422.0   13.0   162538  49988     10
16   58690.0  16669.0   12.0   142091  21007     22
43   61034.0  15851.0   13.0   190816  21255     29
15  127061.0  45649.0   11.0   234825  39112     22
5   137688.0  50224.0   14.0    79943  18590     13
27  161860.0  47711.0   15.0   223825  22983     28
12  144784.0  28182.0   16.0   128086   9682     47
4    95634.0  27378.0   11.0   185160  31879     19
41   75977.0  21765.0   10.0   116557  24731     14
7   130725.0  29831.0   13.0   264300  37263     21
29  174583.0  34260.0   16.0   265644  53582     17
30   68121.0  18343.0   14.0    69401  11634     22
24   71919.0  27515.0   10.0    81999  10664     23
32   82637.0  26476.0   11.0   268928  44822     18
20  190524.0  36118.0   16.0   209388  30829     21
1   125050.0  28814.0   13.0   119752  15903     23
25   84104.0  17778.0   13.0   185954  31692     21
21  102561.0  34976.0   12.0   119776  14508     29
17   54146.0  10212.0   16.0    45805   7197     19
11  122372.0  33731.0   12.0   116862  23960     15
45   98274.0  18483.0   16.0    91686  12591     23
34  155301.0  24764.0   26.0   184664  12112     50
13   32712.0   9567.0   10.0   111374  24116     14
44  110851.0  34188.0   12.0   151657  18631     25
18   84390.0  24662.0   11.0   150295  37437     20
22   74733.0  16635.0   12.0   127054  28405     15
26  145801.0  22654.0   27.0   197785  12729     55
2   113689.0  38235.0   13.0   264702  46432     17

In [12]:
sum_total = df_all.apply(sum_rows, args=('Total', ['_x', '_y'], True), axis=1)
sum_avg = df_all.apply(sum_rows, args=('Avg', ['_x', '_y'], True), axis=1)
sum_num = df_all.apply(sum_rows, args=('Num', ['_x', '_y'], True), axis=1)
df_sumAll = pd.DataFrame(data={'Total':sum_total, 'Avg':sum_avg, 'Num':sum_num})
df_sumAll

       Total      Avg   Num
ID
46  336174.0  84420.0  30.0
37  292108.0  45503.0  43.0
23  180015.0  74063.0  16.0
40  164925.0  29403.0  33.0
19  260005.0  59981.0  25.0
31  120872.0  27153.0  30.0
38  227047.0  65551.0  29.0
35  194303.0  39762.0  31.0
42  224842.0  50505.0  27.0
14  268652.0  60174.0  33.0
3   192201.0  21139.0  52.0
33  307721.0  67752.0  29.0
39  226661.0  65410.0  23.0
16  200781.0  37676.0  34.0
43  251850.0  37106.0  42.0
15  361886.0  84761.0  33.0
5   217631.0  68814.0  27.0
27  385685.0  70694.0  43.0
12  272870.0  37864.0  63.0
4   280794.0  59257.0  30.0
41  192534.0  46496.0  24.0
7   395025.0  67094.0  34.0
29  440227.0  87842.0  33.0
30  137522.0  29977.0  36.0
24  153918.0  38179.0  33.0
32  351565.0  71298.0  29.0
20  399912.0  66947.0  37.0
1   244802.0  44717.0  36.0
25  270058.0  49470.0  34.0
21  222337.0  49484.0  41.0
17   99951.0  17409.0  35.0
11  239234.0  57691.0  27.0
45  189960.0  31074.0  39.0
34  339965.0  36876.0  76.0
13  144086.0  33683.0  24.0
44  262508.0  52819.0  37.0
18  234685.0  62099.0  31.0
22  201787.0  45040.0  27.0
26  343586.0  35383.0  82.0
2   378391.0  84667.0  30.0

In [13]:
df_1 = df_1a.merge(df_1aggr, on='ID').drop(columns=['Total_1a_com', 'Avg_1a_com', 'Num_1a_com'])
df_2 = df_2a.merge(df_2aggr, on='ID').drop(columns=['Total_2a_com', 'Avg_2a_com', 'Num_2a_com'])
df_3 = df_3a.merge(df_3aggr, on='ID').drop(columns=['Total_3a_com', 'Avg_3a_com', 'Num_3a_com'])
df_3

,Total_3a_map,Avg_3a_map,Min_3a_map,Max_3a_map,Num_3a_map,TTV_3a_map,DTTV_3a_map,Min_3a_com,Max_3a_com,TTV_3a_com,DTTV_3a_com,Total,Avg,Min,Max,Num,TTV,DTTV
ID,,,,,,,,,,,,,,,,,,
46,49629,24815.0,4291.0,45338.0,2,11144.0,4291.0,75.0,1550.0,760.0,75.0,76765,6979,67,19165,11,7166,5108
37,43153,8631.0,250.0,40988.0,5,0.0,465.0,287.0,692.0,1281.0,625.0,85181,14197,108,50088,6,0,430
23,14399,14399.0,14399.0,14399.0,1,6790.0,14399.0,175.0,3908.0,808.0,175.0,21773,10886,92,21681,2,190,92
40,12125,2425.0,117.0,7274.0,5,250.0,117.0,67.0,3733.0,125.0,67.0,26482,4414,335,12582,6,0,335
19,36864,12288.0,3425.0,26756.0,3,3868.0,3425.0,150.0,2691.0,485.0,417.0,116089,23218,440,41180,5,0,440
31,18161,3027.0,100.0,6599.0,6,1021.0,1554.0,258.0,7066.0,671.0,258.0,17699,2950,117,10941,6,0,375
38,45006,22503.0,318.0,44688.0,2,0.0,318.0,NaN,NaN,NaN,NaN,75902,6900,208,36972,11,9739,1067
35,15334,3834.0,294.0,8308.0,4,0.0,294.0,1775.0,2058.0,594.0,1775.0,35369,2721,83,18503,13,140,7967
42,33175,6635.0,179.0,23030.0,5,2282.0,300.0,100.0,2067.0,316.0,1925.0,47659,11915,223,46431,4,0,223
14,48031,9606.0,239.0,44518.0,5,0.0,239.0,75.0,2775.0,289.0,2775.0,63214,7024,75,25481,9,0,360
3,5200,2600.0,400.0,4800.0,2,242.0,400.0,1.0,1.0,0.0,1.0,31173,2598,83,12857,12,232,200
33,91802,18360.0,133.0,52287.0,5,248.0,133.0,367.0,2800.0,457.0,383.0,59113,14778,529,53301,4,0,529
39,17041,3408.0,328.0,6441.0,5,0.0,328.0,83.0,4016.0,762.0,208.0,52931,17644,511,31297,3,0,511
16,23517,5879.0,175.0,22265.0,4,0.0,435.0,375.0,2358.0,493.0,892.0,78566,6044,142,30910,13,0,355
43,23508,7836.0,325.0,21258.0,3,249.0,325.0,NaN,NaN,NaN,NaN,75008,8334,242,41731,9,0,22282
15,42015,7003.0,343.0,25481.0,6,0.0,343.0,358.0,7291.0,460.0,4375.0,83306,6942,217,21190,12,66,1450
5,32497,32497.0,32497.0,32497.0,1,2315.0,32497.0,242.0,883.0,215.0,242.0,46846,9369,175,38764,5,25,392
27,64404,32202.0,75.0,64329.0,2,377.0,75.0,667.0,3675.0,1160.0,3675.0,122791,9445,108,81823,13,0,1873
12,32809,10936.0,342.0,31805.0,3,0.0,662.0,NaN,NaN,NaN,NaN,45236,1809,325,9816,25,0,377
4,45955,11489.0,992.0,39497.0,4,8119.0,2108.0,100.0,4966.0,620.0,325.0,87509,17502,2541,34664,5,4019,7516
41,24890,6222.0,117.0,17790.0,4,152.0,117.0,225.0,2883.0,369.0,258.0,60116,12023,5366,22881,5,3448,5766
7,57536,9589.0,133.0,26465.0,6,0.0,133.0,83.0,2608.0,349.0,700.0,114320,16331,179,60854,7,0,179
29,61765,10294.0,378.0,33864.0,6,9665.0,33864.0,83.0,7433.0,283.0,1433.0,127943,25589,125,99364,5,0,341
30,19367,3228.0,125.0,10832.0,6,0.0,152.0,75.0,1083.0,511.0,92.0,11984,5992,176,11807,2,0,176
24,21223,4245.0,1067.0,6991.0,5,4743.0,1067.0,75.0,3008.0,3643.0,475.0,45561,3797,108,23023,12,251,108
32,18991,6330.0,92.0,18565.0,3,0.0,334.0,142.0,558.0,393.0,142.0,126479,21080,281,44555,6,0,281
20,70297,14059.0,281.0,64176.0,5,0.0,281.0,217.0,2041.0,322.0,2041.0,92204,15367,92,57331,6,0,384
1,50698,12674.0,97.0,45193.0,4,0.0,97.0,117.0,458.0,256.0,117.0,56820,5682,125,33931,10,0,225
25,9939,2485.0,217.0,4666.0,4,219.0,217.0,2475.0,9224.0,677.0,9224.0,46180,4198,258,15099,11,126,783
21,40968,8194.0,67.0,24781.0,5,314.0,67.0,133.0,325.0,8121.0,133.0,51604,3036,132,14717,17,0,132
17,16215,4054.0,608.0,12532.0,4,3633.0,2333.0,408.0,408.0,0.0,408.0,12216,2036,8,5066,6,4551,3033
11,21824,4365.0,317.0,13016.0,5,0.0,784.0,542.0,3300.0,3184.0,3300.0,49048,7007,353,28581,7,0,566
45,35132,5855.0,68.0,27381.0,6,0.0,68.0,75.0,4650.0,260.0,1217.0,27979,5596,223,13857,5,0,223
34,39828,3621.0,117.0,11991.0,11,0.0,139.0,133.0,3591.0,439.0,2892.0,72988,2807,92,11107,26,359,150
13,7233,2411.0,255.0,6558.0,3,0.0,255.0,125.0,983.0,363.0,125.0,39255,5608,142,26989,7,58,142
44,15474,15474.0,15474.0,15474.0,1,3904.0,15474.0,358.0,358.0,2788.0,358.0,73014,6084,258,25465,12,0,345
18,5589,1863.0,339.0,2725.0,3,0.0,339.0,1491.0,6895.0,2218.0,1491.0,19028,1464,67,8224,13,0,1211
22,6887,2296.0,117.0,6562.0,3,312.0,208.0,1292.0,1672.0,562.0,1292.0,60842,10140,742,29039,6,69,742
26,69976,4665.0,67.0,20987.0,15,0.0,133.0,100.0,100.0,29810.0,100.0,83585,2458,117,34722,34,4960,1000
2,32218,6444.0,379.0,23532.0,5,7406.0,825.0,100.0,2733.0,481.0,608.0,113890,16270,34,66925,7,30,399

In [14]:
sum_total = df_1.apply(sum_rows, args=('Total', ['_1a_map', ''], True), axis=1)
sum_avg = df_1.apply(sum_rows, args=('Avg', ['_1a_map', ''], True), axis=1)
sum_num = df_1.apply(sum_rows, args=('Num', ['_1a_map', ''], True), axis=1)
df_sum1 = pd.DataFrame(data={'Total':sum_total, 'Avg':sum_avg, 'Num':sum_num})

sum_total = df_2.apply(sum_rows, args=('Total', ['_2a_map', ''], True), axis=1)
sum_avg = df_2.apply(sum_rows, args=('Avg', ['_2a_map', ''], True), axis=1)
sum_num = df_2.apply(sum_rows, args=('Num', ['_2a_map', ''], True), axis=1)
df_sum2 = pd.DataFrame(data={'Total':sum_total, 'Avg':sum_avg, 'Num':sum_num})

sum_total = df_3.apply(sum_rows, args=('Total', ['_3a_map', ''], True), axis=1)
sum_avg = df_3.apply(sum_rows, args=('Avg', ['_3a_map', ''], True), axis=1)
sum_num = df_3.apply(sum_rows, args=('Num', ['_3a_map', ''], True), axis=1)
df_sum3 = pd.DataFrame(data={'Total':sum_total, 'Avg':sum_avg, 'Num':sum_num})
df_sum3

       Total      Avg   Num
ID
46  126394.0  31794.0  13.0
37  128334.0  22828.0  11.0
23   36172.0  25285.0   3.0
40   38607.0   6839.0  11.0
19  152953.0  35506.0   8.0
31   35860.0   5977.0  12.0
38  120908.0  29403.0  13.0
35   50703.0   6555.0  17.0
42   80834.0  18550.0   9.0
14  111245.0  16630.0  14.0
3    36373.0   5198.0  14.0
33  150915.0  33138.0   9.0
39   69972.0  21052.0   8.0
16  102083.0  11923.0  17.0
43   98516.0  16170.0  12.0
15  125321.0  13945.0  18.0
5    79343.0  41866.0   6.0
27  187195.0  41647.0  15.0
12   78045.0  12745.0  28.0
4   133464.0  28991.0   9.0
41   85006.0  18245.0   9.0
7   171856.0  25920.0  13.0
29  189708.0  35883.0  11.0
30   31351.0   9220.0   8.0
24   66784.0   8042.0  17.0
32  145470.0  27410.0   9.0
20  162501.0  29426.0  11.0
1   107518.0  18356.0  14.0
25   56119.0   6683.0  15.0
21   92572.0  11230.0  22.0
17   28431.0   6090.0  10.0
11   70872.0  11372.0  12.0
45   63111.0  11451.0  11.0
34  112816.0   6428.0  37.0
13   46488.0   8019.0  10.0
44   88488.0  21558.0  13.0
18   24617.0   3327.0  16.0
22   67729.0  12436.0   9.0
26  153561.0   7123.0  49.0
2   146108.0  22714.0  12.0