In [121]:
import pandas as pd
from statsmodels.regression.mixed_linear_model import MixedLM
import statsmodels.api as sm
from statsmodels.formula.api import ols
from functions.others import choose_dominant_kind, replace_to_categories
from functions.tests.helper import make_decision

In [106]:
df_answers = pd.read_csv('/Users/martasolarz/Studies/Thesis/Master_thesis/prepare_datasets/sets/correctness.csv')

df_survey = pd.read_csv(
    '/Users/martasolarz/Studies/Thesis/data/survey.csv',
).fillna('NO_VAL')

df_survey = df_survey[df_survey.ID != 6] 

df_survey['MAT'] = df_survey['MAT_roz'].apply(lambda x: x if x == 'NO_VAL' else 'VAL')
df_survey['POL'] = df_survey['JP_roz'].apply(lambda x: x if x == 'NO_VAL' else 'VAL')
df_survey['HIST'] = df_survey['HIST_roz'].apply(lambda x: x if x == 'NO_VAL' else 'VAL')
df_survey['Typ_uczenia'] = df_survey.apply(choose_dominant_kind, axis=1)
df_survey['Kierunek_studiów'] = df_survey['Kierunek_studiów'].apply(lambda x: 'MISMaP Geografia' if x == 'Geografia, w ramach studiów międzyobszarowych' else x)
df_survey['Samopocz'] = df_survey['Samopocz'].apply(replace_to_categories)
df_survey['Stres'] = df_survey['Stres'].apply(replace_to_categories)
df_survey['Zmęcz'] = df_survey['Zmęcz'].apply(replace_to_categories)
df_survey['Czyt_map'] = df_survey['Czyt_map'].apply(replace_to_categories)
df_survey['Podziel_uwg'] = df_survey['Podziel_uwg'].apply(replace_to_categories)
df_survey['Analit_myśl'] = df_survey['Analit_myśl'].apply(replace_to_categories)
df_survey['Spostrzeg'] = df_survey['Spostrzeg'].apply(replace_to_categories)
df_survey['Czyt_ze_zroz'] = df_survey['Czyt_ze_zroz'].apply(replace_to_categories)

df_survey.drop(columns=['Daltonizm', 'JP_podst', 'MAT_podst', 'JP_roz', 'MAT_roz', 'FIZ_roz', 'HIST_roz', 'Wzrokowiec', 'Słuchowiec', 'Kinestetyk', 'Quest1_after', 'Quest2_after', 'Rank_map', 'Rank_plt', 'Rank_tab', 'Rank_txt', 'Data', 'Godzina'], inplace=True)

df_quest = pd.read_csv(
    '/Users/martasolarz/Studies/Thesis/Master_thesis/prepare_datasets/sets/quest12.csv', usecols=['ID', 'Quest1_before', 'Quest2_before', 'Quest1_after', 'Quest2_after', 'is_change_1', 'is_change_2'], index_col='ID')

df_time = pd.read_csv('/Users/martasolarz/Studies/Thesis/Master_thesis/prepare_datasets/sets/times.csv', index_col='ID')

df_variables = df_survey.join(df_quest, on='ID')

In [107]:
df_variables

,ID,Płeć,Rok_urodzenia,Kierunek_studiów,Rok_studiów,Specjalność,Wady_wzroku,Ilość_snu,Samopocz,Stres,...,MAT,POL,HIST,Typ_uczenia,Quest1_before,Quest2_before,Quest1_after,Quest2_after,is_change_1,is_change_2
0,1,M,2002,MISMaP Geografia,2,SPOŁ-EKO,0,6,wysoki,niski,...,VAL,VAL,NO_VAL,Kinestetyk,B,wykres,B,wykres,False,False
1,2,M,2003,Gospodarka przestrzenna,1,NO_VAL,1,<6,średni,niski,...,VAL,VAL,NO_VAL,Brak dominującego,B,wykres,B,wykres,False,False
2,3,M,2001,Geografia,3,GEOINF,0,8,wysoki,średni,...,VAL,NO_VAL,NO_VAL,Wzrokowiec,B,mapa,B,mapa,False,False
3,4,K,2000,Geografia,3,GEOINF,0,8,wysoki,niski,...,NO_VAL,VAL,NO_VAL,Brak dominującego,B,mapa,B,wykres,False,True
4,5,K,2002,Geografia,3,GEOINF,0,7,wysoki,niski,...,NO_VAL,NO_VAL,NO_VAL,Wzrokowiec,B,tabela,B,tabela,False,False
6,7,K,2001,MISMaP Geografia,3,GEOINF,0,7,wysoki,niski,...,VAL,NO_VAL,VAL,Brak dominującego,B,tekst,B,wykres,False,True
7,11,M,2003,Geografia,1,GEOINF,0,8<,wysoki,niski,...,NO_VAL,NO_VAL,NO_VAL,Wzrokowiec,B,mapa,B,wykres,False,True
8,12,K,2003,Geografia,1,FIZ,0,8<,niski,średni,...,VAL,NO_VAL,NO_VAL,Brak dominującego,B,mapa,B,mapa,False,False
9,13,K,2004,Geografia,1,FIZ,0,8<,wysoki,niski,...,VAL,NO_VAL,NO_VAL,Wzrokowiec,A,mapa,A,mapa,False,False
10,14,M,2002,MISMaP Geografia,2,GEOINF,1,6,średni,wysoki,...,VAL,NO_VAL,NO_VAL,Wzrokowiec,B,mapa,B,tabela,False,True
11,15,K,2002,Geografia,2,SPOŁ-EKO,0,7,wysoki,średni,...,VAL,VAL,VAL,Słuchowiec,B,tekst,B,mapa,False,True
12,16,M,2002,Geografia,2,GEOINF,1,7,wysoki,średni,...,VAL,NO_VAL,NO_VAL,Słuchowiec,B,tabela,B,wykres,False,True
13,17,K,2002,Geografia,2,GEOINF,1,7,wysoki,niski,...,NO_VAL,VAL,NO_VAL,Wzrokowiec,B,wykres,B,mapa,False,True
14,18,K,2002,Gospodarka przestrzenna,1,NO_VAL,1,6,średni,wysoki,...,VAL,NO_VAL,NO_VAL,Wzrokowiec,B,mapa,A,wykres,True,True
15,19,M,2003,Gospodarka przestrzenna,1,NO_VAL,1,<6,niski,niski,...,VAL,NO_VAL,NO_VAL,Wzrokowiec,B,mapa,B,tabela,False,True
16,20,K,2003,Geografia,1,SPOŁ-EKO,1,<6,średni,średni,...,NO_VAL,VAL,NO_VAL,Wzrokowiec,B,tabela,B,mapa,False,True
17,21,M,2002,Geografia,2,FIZ,0,<6,wysoki,niski,...,NO_VAL,NO_VAL,VAL,Wzrokowiec,B,mapa,B,mapa,False,False
18,22,K,2002,Geografia,2,GEOINF,1,6,wysoki,niski,...,NO_VAL,NO_VAL,NO_VAL,Brak dominującego,B,mapa,A,mapa,True,False
19,23,M,2003,Geografia,1,SPOŁ-EKO,0,6,wysoki,niski,...,VAL,NO_VAL,NO_VAL,Kinestetyk,B,tabela,B,wykres,False,True
20,24,M,2004,Geografia,1,GEOINF,1,<6,wysoki,średni,...,VAL,NO_VAL,NO_VAL,Wzrokowiec,B,tabela,B,tabela,False,False
21,25,K,2001,Geografia,1,FIZ,1,6,niski,wysoki,...,NO_VAL,NO_VAL,NO_VAL,Słuchowiec,B,tabela,A,mapa,True,True
22,26,K,2003,Geografia,1,FIZ,1,6,niski,wysoki,...,VAL,NO_VAL,NO_VAL,Wzrokowiec,B,wykres,B,mapa,False,True
23,27,K,2001,Gospodarka przestrzenna,3,NO_VAL,1,6,wysoki,niski,...,VAL,NO_VAL,NO_VAL,Wzrokowiec,B,wykres,A,mapa,True,True
24,29,M,2003,Geografia,1,SPOŁ-EKO,1,6,wysoki,średni,...,NO_VAL,VAL,NO_VAL,Wzrokowiec,B,mapa,B,tabela,False,True
25,30,K,2001,Geografia,3,GEOINF,0,<6,wysoki,średni,...,VAL,NO_VAL,NO_VAL,Wzrokowiec,B,wykres,A,mapa,True,True
26,31,K,2001,Geografia,3,GEOINF,0,<6,niski,wysoki,...,NO_VAL,VAL,NO_VAL,Wzrokowiec,A,mapa,A,mapa,False,False
27,32,K,2001,Geografia,3,GEOINF,0,8,wysoki,średni,...,VAL,NO_VAL,NO_VAL,Brak dominującego,B,mapa,A,mapa,True,False
28,33,M,2003,Geografia,1,GEOINF,1,8<,wysoki,wysoki,...,NO_VAL,NO_VAL,NO_VAL,Wzrokowiec,B,tekst,B,wykres,False,True
29,34,M,2002,Geografia,2,GEOINF,1,<6,średni,niski,...,VAL,NO_VAL,NO_VAL,Wzrokowiec,B,wykres,B,wykres,False,False
30,35,M,2001,Geografia,3,GEOINF,1,6,wysoki,niski,...,VAL,NO_VAL,NO_VAL,Brak dominującego,A,tabela,B,wykres,True,True
31,37,K,2003,Geografia,1,SPOŁ-EKO,0,<6,wysoki,niski,...,NO_VAL,NO_VAL,NO_VAL,Wzrokowiec,B,wykres,B,mapa,False,True
32,38,K,2004,Geografia,1,FIZ,1,6,wysoki,niski,...,NO_VAL,NO_VAL,NO_VAL,Wzrokowiec,B,wykres,B,wykres,False,False
33,39,K,2003,Geografia,1,GEOINF,1,8<,średni,wysoki,...,NO_VAL,NO_VAL,NO_VAL,Wzrokowiec,B,mapa,B,mapa,False,False
34,40,K,2003,Geografia,1,SPOŁ-EKO,1,7,wysoki,niski,...,NO_VAL,NO_VAL,NO_VAL,Słuchowiec,B,mapa,A,mapa,True,False
35,41,M,2003,Geografia,1,SPOŁ-EKO,1,7,wysoki,niski,...,VAL,VAL,VAL,Słuchowiec,A,mapa,A,wykres,False,True
36,42,K,2003,Geografia,1,FIZ,0,7,wysoki,niski,...,NO_VAL,NO_VAL,NO_VAL,Wzrokowiec,B,mapa,B,wykres,False,True
37,43,M,2003,Gospodarka przestrzenna,1,NO_VAL,1,8,wysoki,niski,...,NO_VAL,NO_VAL,NO_VAL,Brak dominującego,B,mapa,B,wykres,False,True
38,44,K,2003,Geografia,1,FIZ,1,<6,wysoki,niski,...,VAL,NO_VAL,NO_VAL,Brak dominującego,B,mapa,B,tekst,False,True
39,45,M,2003,Geografia,1,GEOINF,1,8<,wysoki,niski,...,VAL,NO_VAL,NO_VAL,Słuchowiec,B,mapa,B,tabela,False,True
40,46,K,2002,Geografia,1,FIZ,1,7,wysoki,niski,...,NO_VAL,NO_VAL,NO_VAL,Brak dominującego,B,mapa,A,mapa,True,False

In [108]:
df = pd.concat([df_variables, df_variables])
df['idx'] = range(0, 80)
df.set_index('idx', inplace=True)

df['Group'] = 'A'
df.loc[40:81, 'Group'] = 'B'

df['SumCorr'] = pd.concat([df_answers['SumCorr_a'], df_answers['SumCorr_b']]).reset_index(drop=True)
df['Corr_1'] = pd.concat([df_answers['1a_corr'], df_answers['1b_corr']]).reset_index(drop=True)
df['Corr_2'] = pd.concat([df_answers['2a_corr'], df_answers['2b_corr']]).reset_index(drop=True)
df['Corr_3'] = pd.concat([df_answers['3a_corr'], df_answers['3b_corr']]).reset_index(drop=True)

df['SumDiff'] = pd.concat([df_answers['SumTrud_a'], df_answers['SumTrud_b']]).reset_index(drop=True)
df['Diff_1'] = pd.concat([df_answers['1a_trud'], df_answers['1b_trud']]).reset_index(drop=True)
df['Diff_2'] = pd.concat([df_answers['2a_trud'], df_answers['2b_trud']]).reset_index(drop=True)
df['Diff_3'] = pd.concat([df_answers['3a_trud'], df_answers['3b_trud']]).reset_index(drop=True)

df['SumTime'] = pd.concat([df_time['SumTime_a'], df_time['SumTime_b']]).reset_index(drop=True)
df['Time_1'] = pd.concat([df_time['Duration_1a'], df_time['Duration_1b']]).reset_index(drop=True)
df['Time_2'] = pd.concat([df_time['Duration_2a'], df_time['Duration_2b']]).reset_index(drop=True)
df['Time_3'] = pd.concat([df_time['Duration_3a'], df_time['Duration_3b']]).reset_index(drop=True)

In [109]:
df

,ID,Płeć,Rok_urodzenia,Kierunek_studiów,Rok_studiów,Specjalność,Wady_wzroku,Ilość_snu,Samopocz,Stres,...,Corr_2,Corr_3,SumDiff,Diff_1,Diff_2,Diff_3,SumTime,Time_1,Time_2,Time_3
idx,,,,,,,,,,,,,,,,,,,,,
0,1,M,2002,MISMaP Geografia,2,SPOŁ-EKO,0,6,wysoki,niski,...,0,1,11,3,4,4,141444,34682,38765,67997
1,2,M,2003,Gospodarka przestrzenna,1,NO_VAL,1,<6,średni,niski,...,1,0,6,1,3,2,137677,53564,35032,49081
2,3,M,2001,Geografia,3,GEOINF,0,8,wysoki,średni,...,1,0,6,2,3,1,119128,85546,12266,21316
3,4,K,2000,Geografia,3,GEOINF,0,8,wysoki,niski,...,1,1,8,3,2,3,92095,61197,10999,19899
4,5,K,2002,Geografia,3,GEOINF,0,7,wysoki,niski,...,1,1,10,4,3,3,99761,42031,12816,44914
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,42,K,2003,Geografia,1,FIZ,0,7,wysoki,niski,...,1,1,4,1,1,2,178475,23282,121461,33732
76,43,M,2003,Gospodarka przestrzenna,1,NO_VAL,1,8,wysoki,niski,...,1,0,7,2,2,3,162293,50181,36282,75830
77,44,K,2003,Geografia,1,FIZ,1,<6,wysoki,niski,...,1,0,5,1,1,3,285552,40498,114394,130660
78,45,M,2003,Geografia,1,GEOINF,1,8<,wysoki,niski,...,0,0,5,1,2,2,303219,88463,85329,129427
79,46,K,2002,Geografia,1,FIZ,1,7,wysoki,niski,...,1,0,8,3,2,3,290419,88712,62364,139343

Test dla płci + grupy

In [117]:
df['Płeć_Group'] = df['Płeć'] + '_' + df['Group']
df[['Płeć', 'Group', 'Płeć_Group', 'Corr_1']]

    Płeć Group Płeć_Group  Corr_1
idx
0      M     A        M_A       1
1      M     A        M_A       1
2      M     A        M_A       1
3      K     A        K_A       1
4      K     A        K_A       1
..   ...   ...        ...     ...
75     K     B        K_B       1
76     M     B        M_B       1
77     K     B        K_B       1
78     M     B        M_B       1
79     K     B        K_B       1

[80 rows x 4 columns]

In [136]:
ALPHA = 0.05

Wieloczynnikowa analiza regresji

In [151]:
# Płeć + Grupa oddzielnie
md = MixedLM.from_formula('Corr_1 ~ C(Group) + C(Płeć)', data=df, groups=df["ID"])
mdf = md.fit()
print(mdf.summary())

p_values = mdf.pvalues[1:-1]
names = mdf.model.exog_names[1:]
for i, p_val in enumerate(p_values):
    print('-------------------')
    print(f"Zmienna: {names[i]}, P-value: {p_val}")
    make_decision(p_val, ALPHA)

         Mixed Linear Model Regression Results
=======================================================
Model:             MixedLM Dependent Variable: Corr_1
No. Observations:  80      Method:             REML
No. Groups:        40      Scale:              0.0500
Min. group size:   2       Log-Likelihood:     -17.1190
Max. group size:   2       Converged:          Yes
Mean group size:   2.0
-------------------------------------------------------
              Coef. Std.Err.   z    P>|z| [0.025 0.975]
-------------------------------------------------------
Intercept     0.823    0.059 14.047 0.000  0.708  0.938
C(Group)[T.B] 0.050    0.050  1.000 0.317 -0.048  0.148
C(Płeć)[T.M]  0.123    0.081  1.511 0.131 -0.037  0.282
Group Var     0.040    0.093
=======================================================

-------------------
Zmienna: C(Group)[T.B], P-value: 0.31730761965954013
Brak podstaw do odrzucenia H0.
-------------------
Zmienna: C(Płeć)[T.M], P-value: 0.13085351164490155
Brak podstaw do odrzucenia H0.

In [152]:
# Płeć + Grupa razem
md = MixedLM.from_formula('Corr_1 ~ Płeć_Group', data=df, groups=df["ID"])
mdf = md.fit()
print(mdf.summary())

p_values = mdf.pvalues[1:-1]
names = mdf.model.exog_names[1:]
for i, p_val in enumerate(p_values):
    print('-------------------')
    print(f"Zmienna: {names[i]}, P-value: {p_val}")
    make_decision(p_val, ALPHA)

           Mixed Linear Model Regression Results
===========================================================
Model:               MixedLM  Dependent Variable:  Corr_1
No. Observations:    80       Method:              REML
No. Groups:          40       Scale:               0.0467
Min. group size:     2        Log-Likelihood:      -16.6976
Max. group size:     2        Converged:           Yes
Mean group size:     2.0
-----------------------------------------------------------
                  Coef. Std.Err.   z    P>|z| [0.025 0.975]
-----------------------------------------------------------
Intercept         0.783    0.062 12.660 0.000  0.661  0.904
Płeć_Group[T.K_B] 0.130    0.064  2.047 0.041  0.006  0.255
Płeć_Group[T.M_A] 0.217    0.095  2.292 0.022  0.032  0.403
Płeć_Group[T.M_B] 0.159    0.095  1.672 0.094 -0.027  0.344
Group Var         0.041    0.097
===========================================================

-------------------
Zmienna: Płeć_Group[T.K_B], P-value: 0.040692588684053836
Istnieją podstawy do odrzucenia H0, przyjmujemy hipotezę H1.
-------------------
Zmienna: Płeć_Group[T.M_A], P-value: 0.021876944627807208
Istnieją podstawy do odrzucenia H0, przyjmujemy hipotezę H1.
-------------------
Zmienna: Płeć_Group[T.M_B], P-value: 0.09448987079860521
Brak podstaw do odrzucenia H0.

Wieloczynnikowa analiza wariancji

In [153]:
# Płeć i grupa oddzielnie
model = ols('Corr_1 ~ C(Group) + C(Płeć)', data=df).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
print(anova_table)

p_values = anova_table['PR(>F)'][:-1]
names = anova_table.index[:-1]
for i, p_val in enumerate(p_values):
    print('-------------------')
    print(f"Zmienna: {names[i]}, P-value: {p_val}")
    make_decision(p_val, ALPHA)

            sum_sq    df         F    PR(>F)
C(Group)  0.050000   1.0  0.561603  0.455898
C(Płeć)   0.294629   1.0  3.309295  0.072777
Residual  6.855371  77.0       NaN       NaN
-------------------
Zmienna: C(Group), P-value: 0.4558983461662266
Brak podstaw do odrzucenia H0.
-------------------
Zmienna: C(Płeć), P-value: 0.07277659180179832
Brak podstaw do odrzucenia H0.

In [154]:
# Płeć i grupa razem
model = ols('Corr_1 ~ Płeć_Group', data=df).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
print(anova_table)

p_values = anova_table['PR(>F)'][:-1]
names = anova_table.index[:-1]
for i, p_val in enumerate(p_values):
    print('-------------------')
    print(f"Zmienna: {names[i]}, P-value: {p_val}")
    make_decision(p_val, ALPHA)

              sum_sq    df         F    PR(>F)
Płeć_Group  0.519693   3.0  1.970801  0.125472
Residual    6.680307  76.0       NaN       NaN
-------------------
Zmienna: Płeć_Group, P-value: 0.12547208145524164
Brak podstaw do odrzucenia H0.